.table-content {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;

  padding-top: 30px;
  padding-bottom: 30px;
  width: 60vw;
}

.search-icon {
  cursor: pointer;
  margin-left: 10px;
}

.filter-row {
  display: flex;
  justify-content: space-between;
}

.left-row {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.filter-input {
  margin-left: 10px;
}

.security-filter-input {
  border-radius: 5px;

  height: 3vh;
  border: 1.3px solid #263238;
  padding: 5px;
  font-size: 1.1rem;
}


.right-row {
  display: flex;
  align-items: center;
}


.security-table-wrapper {
  border: 1px solid #406581;
  margin-top: 2rem;
  border-radius: 5px;

}

.wrapper-header {
  height: 3rem;
  background-color: #dbe2e7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  padding: 10px;

  display: flex;
  align-items: center;
  color: #406581;
  font-size: 1.1rem;
}

.user-table {
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
}

thead {
  color: #406581;
  font-weight: 400 !important;
  border-bottom: 1px solid #406581 !important;
  margin-bottom: 5px;
  text-align: center;

}

.table-head {
  border-bottom: 1px solid gray;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}



table {
  border-collapse: collapse;

}

td {
  padding: 10px;
  border-bottom: 1px solid gray;
  border-right: 1px dotted gray;
}

.option-td {
  text-align: center;
  cursor: pointer;
}

.text-center {
  text-align: center;
}



