<div style="display: flex; justify-content: center;">
  <div>
    <div id="logo">
      <img alt="logo-icon" src="assets/bankaLogoSlika.png" width="64px" height="64px">
      <img alt="logo-text" src="assets/banka1.png" width="130px" height="43px" style="position: relative; left: -20px;">
    </div>
    <div id="container">
      <h1 class="h1-margin"><b>Resset account password</b></h1>
      <hr>
      <div id="swap-container">
        <!-- Conditionally display content based on `emailSent` -->
        <div *ngIf="!emailSent">
          <h3 class="h3-margin">Enter your email to reset your password</h3>
          <div style="display: flex; justify-content: center">
            <div style="display: flex; flex-direction: column; gap: 15px; min-width: 350px; max-width: 480px">
              <div style="position: relative">
                <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email">
              </div>
              <div class="button-container">
                <button class="cancel-button">Cancel</button>
                <!-- Use event binding to call `sendEmail()` method -->
                <button class="send-button" (click)="sendEmail()">Send</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Display this message when `emailSent` is true -->
        <div *ngIf="emailSent">
          <h3 class="h3-margin">Check email for reset link</h3>
          <p class="emailtext">An email has be sent to your address. Check the inbox and click the reset link.</p>
          <div class="centerr">
            <button class="ok-button" (click)="okAction()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
