<div style="display: flex">
  <div class="activation-modal">
    <div class="close-btn" (click)="sendToLogin()">X</div>
    <div>
      <div class="act-modal-title">Reset password</div>
      <div class="gray-line"></div>
      <div *ngIf="!emailSent" class="passset-text">
        Enter your email to reset your password
      </div>
    </div>
    <div *ngIf="!emailSent" class="email-holder">
      <div class="act-form">
        <div class="act-label">Email:</div>
        <div class="act-input-wrapper">
          <input
            class="reset-pass-input"
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
          />
        </div>
      </div>
      <div class="btn-holder">
        <button id="passwordButton" (click)="sendToLogin()" class="create-pass-btn">Cancel</button>

        <button
          id="passwordButton"
          (click)="sendEmail()"
          class="create-pass-btn"
        >
          Send
        </button>
      </div>
    </div>
    <div
      *ngIf="emailSent"
      class="sent-notification"
    >
      <div class="sent-title">Check email for reset link.</div>
      <div class="sent-desc">
        An email has be sent to your address. Check the inbox and click the
        reset link
      </div>
    </div>
  </div>
</div>
