app-root {
  background-image: url("../../assets/backgroundLogin.png");
}

.activation-modal {
  background-color: var(--banka-dark-gray);
  width: 50vw;

  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10rem;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 30px;
}

.close-btn {
  margin-left: auto;
  color: var(--banka-white);
  cursor: pointer;
  font-size: 20px;
  font-family: "Jura", sans-serif;
}

.act-modal-title {
  text-align: left;
  font-size: 25px;
  font-family: "Jura", sans-serif;
  color: var(--banka-orange);
  font-weight: 800;
}

.gray-line {
  height: 1px;
  background-color: #bebab5;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.passset-text {
  font-family: "Jura", sans-serif;
  color: var(--banka-white);

  margin-bottom: 20px;
}

.act-form {
  justify-content: center;
  margin: auto;
}

.act-label {
  font-family: "Jura", sans-serif;
  font-size: 20px;
  color: var(--banka-white);
}

.act-input-wrapper {
  margin-bottom: 15px;
  margin-top: 5px;

  justify-content: center;

  border-radius: 2px;
  border: 1px solid var(--banka-gray);
  background-color: var(--banka-dark-gray);
  margin-top: 10px;
}

.reset-pass-input {
  font-family: "Jura", sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: var(--banka-dark-gray);
  width: 20rem;
  height: 2.5rem;
  color: var(--banka-gray);
}

.hide-show-button {
  filter: grayscale(100%) invert(100%);
  padding-left: 5px;
}

.create-pass-btn {
  margin: auto;

  width: 9rem;
  height: 1.6rem;

  justify-content: center;
  align-items: center;
  background-color: var(--banka-orange);
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-family: "Jura", sans-serif;
}

.btn-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.sent-title {
  font-family: "Jura", sans-serif;
  color: var(--banka-white);
  font-size: 25px;
}

.sent-desc {
  margin-top: 20px;
  font-family: "Jura", sans-serif;
  color: var(--banka-white);
  font-size: 15px;
}

.sent-notification {
  margin: auto;
  margin-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
}

.email-holder {
  margin: auto; 
  width: 90%;
}

@media (max-width: 576px) {
  .activation-modal {
    width: 90vw;
  }

  .reset-pass-input {
    width: 8rem;
  }

  .create-pass-btn {
    width: 5rem;
  }
}
