<div id="login-background">
  <div class="logo-container">
    <img src="assets/bankaTextLogo.png" alt="Logo"/>
  </div>
  <div class="login-container">
    <h2>LOG IN</h2>
    <form (submit)="onSubmit()">
      <div class="input-container">
        <input type="email" id="email" [(ngModel)]="model.email" name="email" placeholder="Email" required>
      </div>
      <div class="input-container">
        <input type="password" id="password" [(ngModel)]="model.password" name="password" placeholder="Password" required>
      </div>
      <div class="submit-container">
        <!-- The button is disabled unless both email and password are non-empty -->
        <button type="submit" [disabled]="!model.email || !model.password">SUBMIT</button>
      </div>
    </form>
    <!-- <a href="/login">Forgot Password?</a> -->
  </div>
</div>
