.login-page-container {
  position: relative; /* This makes it a reference point for absolutely positioned children */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url('../../assets/pozadina_dark.png') no-repeat center center;
  background-size: cover;
}
.employee-label {
  position: absolute;
  top: 20px; /* Adjust the distance from the top as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  font-family: 'Jura', sans-serif; /* Assuming 'Jura' is the font you want to use */
  color: var(--banka-white); /* Adjust the color as needed */
  padding: 5px 10px; /* Adds some padding inside the label */
  border-radius: 5px; /* Optional: rounds the corners of the label */
}

.login-form-container {
  background-color: rgba(0, 0, 0, 0.3); /* Dim the background */
  width: 25vh;
  min-width: 30vw;
  padding: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between form elements */
}

.wide-field {
  width: 100%; /* Or any specific width you prefer */
  max-width: 400px; /* Adjust the maximum width as needed */
  display: flex;
  justify-content: center;
}

.login-links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.forgot-password, .sign-up, .employee-label {
  cursor: pointer;
  color: var(--banka-white); /* Adjust the color based on your theme */
  text-decoration: underline;
}

