<div class="container">
  <div class="page">
    <div class="security-title">Orders</div>
    <div class="central-window">
      <div class="tabs-menu">
        <ul>

          <li
            class="{{ selectedTab === 'all-securities' ? 'active-tab' : '' }}"
            (click)="setSelectedTab('all-securities')"
          >
            All Securities
          </li>

          <li
            class="{{ selectedTab === 'public-securities' ? 'active-tab' : '' }}"
            (click)="setSelectedTab('public-securities')"
          >
            Public Securities
          </li>
        </ul>
        <hr />
      </div>

      <div class="securities-tab" *ngIf="selectedTab === 'all-securities'">
        <table>
          <thead>
          <tr>
            <th>Security</th>
            <th>Symbol</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Profit</th>
            <th>Last modified</th>
            <th>Public</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let security of allSecurities">
            <td>{{ security.security.listingType }}</td>
            <td>{{ security.security.ticker }}</td>
            <td>{{ security.security.total }}</td>
            <td>{{ security.security.totalPrice }}</td>
            <td> 123 </td>
            <td> 123 </td>
            <!--            <td>{{ security.security.publicTotal }}</td>-->
            <td [ngClass]="{'selected': security.showPopup}" >
              <div class="cell-content"  (click)="showPopup(security)">
                {{ security.security.publicTotal }}
              </div>
              <div *ngIf="security.showPopup" class="popup">
                <label for="publicInput">Set number of public actions: </label>
                <input id="publicInput" [(ngModel)]="changedPublicValue">
                <button *ngIf="changePublicValueButton(security)" class="button-primary" (click)="changePublicValue(security)">
                  Confirm
                </button>
                <button class="button-secondary" (click)="cancelChangePublic(security)">
                  Cancel
                </button>
              </div>
            </td>

            <td>
              <div
                class="table-buttons">
                <button class="button-primary" (click)="sellOrder(security)">
                  Sell
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="securities-tab" *ngIf="selectedTab === 'public-securities'">
        <app-dynamic-table [headersArray]="headersPublicSecurities" [dataArray]="publicSecurities | transformPublicSecurities" [showActions]="true">
          <ng-template #actionsColumn let-row>
            <div id="helperDiv">
              <orange-button [buttonName]="'Offer'" (click)="offerSecurity(row.original)"></orange-button>
            </div>
          </ng-template>
        </app-dynamic-table>
      </div>
    </div>
  </div>
</div>
