
<h1 class="" style="color: #FFB72B; font-size: 36px; font-family: Roboto, sans-serif; font-weight: 700;">New payment</h1>
<div class="container mt-5" style="font-family: Roboto, sans-serif;">
    <div class="row">
        <div class="m-auto body-content col-8 ">
            <div class="row justify-content-between">
                <div class="form-group m-3 col-10 col-md-4 ">
                    <label for="inflow">Account number:</label>
                    <select (change)="updateAmount($event)" [(ngModel)]="payment.senderAccountNumber" id="inflow" name="inflow" required #inflowModel="ngModel" [ngClass]="{ 'invalid-input': inflowModel.invalid && (inflowModel.dirty || inflowModel.touched) }">
                        <option value="" disabled selected>Select Inflow Account</option>
                        <option *ngFor="let account of accounts" [value]="account.accountNumber">{{ account.accountNumber }}</option>
                    </select>
                    <div *ngIf="inflowModel.invalid && (inflowModel.dirty || inflowModel.touched)" class="error-message">
                        <div *ngIf="inflowModel.hasError('required')" style="color: red;">Inflow account number is required.</div>
                    </div>
                </div>
                <div class="form-group m-3 col-10 col-md-4">
                    <label class="rightText">Available resources:</label>
                    <label class="rightText" >
                        {{ selectedAccount ? selectedAccount.balance.toFixed(2) + ' ' + selectedAccount.currencyName : '0.00' }}
                    </label>                
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column col-4 m-3">
                    <div class="mt-5">
                        <div class="form-group">
                            <label for="recipientName">Recipient Name:</label>
                            <input type="text" [(ngModel)]="payment.recipientName" id="recipientName" name="recipientName" required pattern="^\d+(\.\d+)?$"  />
                            <!-- <div *ngIf="amountModel.invalid && (amountModel.dirty || amountModel.touched)" class="error-message">
                                <div *ngIf="amountModel.hasError('required')" style="color: red;">Amount is required.</div>
                                <div *ngIf="amountModel.hasError('pattern')" style="color: red;">Invalid amount format (must be a number).</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="form-group">
                            <label for="recipientAccountNumber">Recipient Account Number:</label>
                            <input type="text" [(ngModel)]="payment.recipientAccountNumber" id="recipientAccountNumber" name="recipientAccountNumber" required pattern="^\d+(\.\d+)?$"  />
                            <!-- <div *ngIf="amountModel.invalid && (amountModel.dirty || amountModel.touched)" class="error-message">
                                <div *ngIf="amountModel.hasError('required')" style="color: red;">Amount is required.</div>
                                <div *ngIf="amountModel.hasError('pattern')" style="color: red;">Invalid amount format (must be a number).</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="form-group">
                            <label for="amount">Amount:</label>
                            <input type="text" [(ngModel)]="payment.amount"  id="amount" name="amount" required pattern="^\d+(\.\d+)?$"  />
                            <!-- <div *ngIf="amountModel.invalid && (amountModel.dirty || amountModel.touched)" class="error-message">
                                <div *ngIf="amountModel.hasError('required')" style="color: red;">Amount is required.</div>
                                <div *ngIf="amountModel.hasError('pattern')" style="color: red;">Invalid amount format (must be a number).</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="form-group">
                            <label for="referenceNumber">Reference number:</label>
                            <input type="text" [(ngModel)]="payment.referenceNumber"  id="referenceNumber" name="referenceNumber" required pattern="^\d+(\.\d+)?$"  />
                            <!-- <div *ngIf="amountModel.invalid && (amountModel.dirty || amountModel.touched)" class="error-message">
                                <div *ngIf="amountModel.hasError('required')" style="color: red;">Amount is required.</div>
                                <div *ngIf="amountModel.hasError('pattern')" style="color: red;">Invalid amount format (must be a number).</div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column col-4 m-3">
                    <div class="mt-5">
                        <div class="form-group">
                            <label for="paymentCode">Payment code:</label>
                            <input type="text" [(ngModel)]="payment.paymentCode"  id="paymentCode" name="paymentCode" required pattern="^\d+(\.\d+)?$"  />
                            <!-- <div *ngIf="amountModel.invalid && (amountModel.dirty || amountModel.touched)" class="error-message">
                                <div *ngIf="amountModel.hasError('required')" style="color: red;">Amount is required.</div>
                                <div *ngIf="amountModel.hasError('pattern')" style="color: red;">Invalid amount format (must be a number).</div>
                            </div> -->
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="form-group">
                            <label for="paymentPurpose">Purpose of payment:</label>
                            <input type="text" [(ngModel)]="payment.purposeOfPayment"  id="paymentPurpose" name="paymentPurpose" required pattern="^\d+(\.\d+)?$"  />
                            <!-- <div *ngIf="amountModel.invalid && (amountModel.dirty || amountModel.touched)" class="error-message">
                                <div *ngIf="amountModel.hasError('required')" style="color: red;">Amount is required.</div>
                                <div *ngIf="amountModel.hasError('pattern')" style="color: red;">Invalid amount format (must be a number).</div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <button class="btn btn-warning btn-lg w-25 m-auto" (click)="submit()">Submit</button>
            </div>
        </div>
        
    </div>

</div>