.form-group {
    /* margin-left: 20%; */
    margin-bottom: 10px;
    font-size: 15px;
    display: flex;
    color: white;
    font-size: 16px;
    flex-direction: column; /* Postavljanje labela iznad input polja */
}

.form-group select {
    /* width: 55%; Širina select elementa */
    /* height: auto; */
    /* box-sizing: border-box; */
    border-radius: 5px;
    background-color: #26262C;
    color: white;
    padding: 8px;
    all: unset;
    appearance: none; /* Uklanja uobičajene strelice koje se prikazuju uz select elemente na nekim preglednicima */
    border-bottom: 1px solid white;
}


.form-group select:focus {
    outline: none; /* Uklanja plavi obrisak koji se pojavljuje prilikom fokusiranja na select element */
    border-color: white; /* Dodajte boju granice kada je select element u fokusu */
}

.body-content {
    background-color: #26262C;
    border: #26262C solid 2px;
    border-radius: 42px;
}

.form-group label {
    margin-bottom: 5px; /* Dodavanje razmaka između labela i input polja */
}

.form-group input[type="text"] {
/* width: 55%; */
    /* height: 44px; */
    box-sizing: border-box;
    border-radius: 5px; 
    background-color: white; 
    color: #3f3e3e; 
    padding: 8px;
}

@media (min-width: 768px) {
    label {
      font-size: 18px; /* Adjust for smaller screens */
    }
    .rightText{
        text-align: end;
    }
  }
  
  /* Media query for even smaller screens */
  @media (max-width: 768px) {
    label {
      font-size: 18px; /* Adjust for even smaller screens */
    }
    .rightText{
        text-align: start;
    }
  }