.popup-container {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Centriranje po sredini ekrana */
    background-color: #EBF6F9; 
    border-radius: 10px; 
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #6d6464;
  }
  
  .popup-header span {
    font-size: 25px;
    font-weight: bold; 

  }
  
  .close-icon {
    cursor: pointer;
    font-size: 20px;
    color: #282323;
  }
  
  .form-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-section,
  .right-section {
    flex: 1;
  }
  
  .form-group {
    margin-bottom: 10px;
    font-size: 10px;

  }
  
  .form-group.active-checkbox {
    display: flex;
    align-items: center;
  }
  
  .form-group.active-checkbox label {
    margin-top: 15%;
  }
  
  .form-group.buttonSl {
    margin-top: 20%;
  }
  
  .form-group.buttonSl button:first-child {
    margin-left: 10%;
    margin-right: 10%;
    width:40%;
    background-color: #f0f8ff; 
    color: #19B5C7; 
    border-radius: 5px; 
  }
  
  .form-group.buttonSl button:last-child {
    background-color: #103145; 
    color: #fff; 
    width:40%;
    border-radius: 5px; 
  }
  
.form-group.active-checkbox input[type="checkbox"] {
    margin-top: 15%;
    transform: scale(1.5); 
    border: 2px solid #56b214; 
    border-radius: 5px; 
  }
  
  .left-section input,
  .right-section input,
  .right-section select {
    width: 90%;
    height:auto;
    box-sizing: border-box;
    border-radius: 5px; 
    background-color: #B3D3DF; 
    color: #3f3e3e; 
    padding: 8px; 
    
  }
  
  .right-section {
    text-align: left;
  }
  
  .button-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }


  /* Dodati media upit za responsivnost tabele TODO */
