<div class="main-container">
    <div class="title-and-close-div">
        <div class="popUpTitle"> <strong>{{user.firstName}} {{user.lastName}}</strong></div>
        <div (click)="exit()" class="closeBtn">✖</div>
    </div>
    <div class="permissions-div">
        <div *ngFor="let permission of user.permissions; let i = index" class="permission-element">
            <span>⠀</span>
            <span class="white-text">{{ permission.name }}</span>
            <span class="close-icon" (click)="removePermission(i)">⠀✖ </span>
            <span>⠀</span>
          </div>
    </div>
    <div class="add-save-perm-div">
        <div class="left">
            <div class="filter-input">
                <input
                  class="security-filter-input"
                  placeholder="Add permission"
                  [(ngModel)]="addedPermission"
                />
            </div>
            <img (click)="addPermission()" src="assets/ButtonMedium.png" alt="+">
        </div>
        
        <div class="right">
            <div (click)="cancel()" class="cancelBtn">Cancel</div>
            <div (click)="save()" class="saveBtn">Save</div>
        </div>
    </div>
</div>
