<div class="main-container">
    <div class="title-and-close-div">
        <div class="popUpTitle"> <strong>{{user.firstName}} {{user.lastName}}</strong></div>
        <div (click)="exit()" class="closeBtn">✖</div>
    </div>
    <div class="permissions-div">
        <div *ngFor="let permission of user.permissions; let i = index" class="permission-element">
            <span>⠀</span>
            <span class="white-text">{{ permission.name }}</span>
            <span class="close-icon" (click)="removePermission(i)">⠀✖ </span>
            <span>⠀</span>
          </div>
    </div>
    <div class="add-save-perm-div">
        <div class="left">
            <div class="filter-input filter-dropdown">
                <!-- <input
                  class="security-filter-input"
                  placeholder="Add permission"
                  [(ngModel)]="addedPermission"
                /> -->
                <select class="security-filter-select" [(ngModel)]="addedPermission" (change)="onSelectPermission()">
                    <option *ngFor="let permission of availablePermissions" value="{{permission.name}}">{{permission.description}}</option>
                </select>
            </div>
            <img (click)="addPermission()" src="assets/ButtonMedium.png" alt="+">
        </div>

        <div class="right">
          <outline-orange-button [buttonName]="'Cancel'" (click)="cancel()"></outline-orange-button>
          <orange-button [buttonName]="'Save'" (click)="save()"></orange-button>

          <!--            <div (click)="cancel()" class="cancelBtn">Cancel</div>-->
<!--            <div (click)="save()" class="saveBtn">Save</div>-->
        </div>
    </div>
</div>
