/* Whole page container css */
.cards-main-container{
    background-color: #ebf6f9;
}

/* Css of div where title Bank Accounts is. */
.title-div{
    height: 70px;
    font-size: 3rem;
    align-items: center;
    font-weight: bold;
    padding-left: 20px;
    line-height: 70px;
}

/*
Inside cards-div is a grid-container div that has grid display. For all monitors
grid will have 1 columns (1fr).
Grid elements are individual cards of user (grid-item class elements).
 */
.cards-div{
    padding-bottom: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Creates two columns of equal width */
    gap: 1.5rem; /* Adjust the gap between items */
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    overflow-y: auto;
  }
  
.grid-item {
    /* Style for each item */
    border: 2px solid black; /* Example styling */
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    height: 150px;
    min-width: 200px;
}

/* 
    Css of elements inside grid-item 
*/
.cardType{
    height: 20%;
    font-size: 2rem;
}

.numbersDiv{
    height: 20%;
    font-size: 1.5rem;
    /* line-height: 120%; */

    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
    gap: 1.5rem; /* Adjust the gap between items */
    /* padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem; */
}

.cardActive{
    height: 40%;
}

.cardLimitAndCVV{
    height: 20%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Creates two columns of equal width */
    gap: 1.5rem;
}

.cardLimitAndCVV * {
    font-size: 1.5rem;
}

.CVV{
    text-align: right;
}

.accNumber{
    text-align: right;
}


/* Media query for screens smaller than 600px */
@media (max-width: 1000px) {

    .accType{
        font-size: 1.5rem;
    }
    
    .numbersDiv {
        font-size: 1rem;
        grid-template-columns: 1fr;
        height: 40%;
        gap: 0;
    }

    .accNumber{
        text-align: left;
    }

    .cardActive{
        height: 20%;
    }

    .cardLimitAndCVV * {
        font-size: 1rem;
    }
}