<h1>New Loan Request</h1>
<div class="outer-container">
  <div class="inner-flex">
    <div class="input-container">
      <label>Credit type</label><br>
      <select class="text-input" style="height: 40px">
        <option *ngFor="let type of loanTypes">{{type}}</option>
      </select>
    </div>
    <div class="input-container">
      <label>Loan purpose</label><br>
      <input class="text-input">
    </div>
    <div class="input-container">
      <label>Monthly salary</label><br>
      <input class="text-input">
    </div>
    <div class="input-container">
      <label>Branch office</label><br>
      <input class="text-input">
    </div>
    <div class="checkbox-container" style="min-width: fit-content">
      <label>Credit bureau approval:</label>
      <input type="checkbox" class="checkbox">
    </div>
    <div class="checkbox-container">
      <label>Full time employee:</label><br>
      <input type="checkbox" class="checkbox">
    </div>
    <div class="input-container">
      <label>Account number</label><br>
      <input class="text-input">
    </div>
    <div class="input-container">
      <label>Phone number</label><br>
      <input class="text-input">
    </div>
    <div style="margin-right: auto">
      <label>Duration of employment</label><br>
      <span><label>Years</label><input type="number" class="number-input"></span>
      <span><label>Months</label><input type="number" class="number-input"></span>
    </div>
  </div>
  <div class="buttons">
    <button routerLink="/loans">Cancel</button>
    <button>Continue</button>
  </div>
</div>
