.outer-container {
  border-radius: 30px;
  background-color: #26262C;
  color: #FFFFFF;
  width: 83%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
}

h1 {
  color: #FFB72B;
  font-family: Jura;
  font-size: 36px;
}

.inner-flex {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 30px;
  padding-top: 5vh;
  display: flex;
  gap:30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-input {
  width: 100%;
}

.checkbox {
  width: 30px;
  height: 30px;
}

label {
  color: #FFF9F0;
  font-family: Jura;
  font-size: 20px;
}

.input-container {
  width: 45%;
  min-width: 200px;
  max-width: 400px;
  flex-basis: 40%;
  flex-grow: 1;
}

input, select {
  height: 40px;
  font-family: Jura;
  font-size: 18px;
  border-radius: 10px;
  border: #0C0C11 1px solid;
}

input, select {
  background-color: #D9D9D9;
}

.checkbox-container {
  width: 45%;
  max-width: 400px;
  flex-basis: 40%;
  flex-grow: 1;
  align-content: baseline;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

span {
  display: inline-block;
}

.number-input {
  width: 70px;
  margin: 0 8px;
}

.buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 5vh;
}

button {
  width: 200px;
  height: 44px;
  background-color: #FFB72B;
  border: none;
  border-radius: 5px;
  font-family: Jura;
  font-size: 20px;
  min-width: 100px;
  cursor: pointer;
}
