<div class="login-page-container">
  <div *ngIf="isEmployee; else showEmployee" class="employee-label" (click)="toggleRole()">Customer</div>
  <ng-template #showEmployee>
    <div class="employee-label" (click)="toggleRole()">Employee</div>
  </ng-template>

  <div class="login-form-container">
    <h1 style="color: var(--banka-orange)">{{ isEmployee ? 'Employee Sign In' : 'Sign In' }}</h1>
    <transparent-text-field [(text)]="model.email" fieldName="Email" style="width: 100%; max-width: 400px;" [p]="true"></transparent-text-field>
    <transparent-text-field [(text)]="model.password" fieldName="Password" type="password" style="width: 100%; max-width: 400px;" ></transparent-text-field>
    <orange-button [buttonName]="'Login'" (click)="onSubmit()" style="width: 60%; max-width: 400px;"></orange-button>

    <div class="login-links-container">
      <span class="forgot-password" (click)="navigateToResetPassword()">Forgot password?</span>
      <span (click)="navigateToActivateAccount()" *ngIf="!isEmployee" class="sign-up">Sign up</span>
    </div>
  </div>
</div>
