<div style="display: flex; justify-content: center;">
  <div>
    <div id="logo">
      <img alt="logo-icon" src="assets/bankaLogoSlika.png" width="64px" height="64px">
      <img alt="logo-text" src="assets/banka1.png" width="130px" height="43px" style="position: relative; left: -20px;">
    </div>
    <div id="container">
      <h1 class="h1-margin"><b>Password reset</b></h1>
      <hr>
      <h5 class="h5-margin">You’ve requested to set a new password for your BANKA1 account</h5>
      <div style="display: flex; justify-content: center">
        <div style="display: flex; flex-direction: column; gap: 15px; min-width: 350px; max-width: 480px">
          <div style="position: relative">
            <input
              placeholder="Enter password"
              [type]="passVisible? 'text': 'password'"
              [(ngModel)]="password"
            >
            <img
              [alt]="passVisible? 'Hide password': 'Show password'"
              [src]="passVisible? 'assets/visibility.svg': 'assets/visibility-off.svg'"
              (click)="passVisible = !passVisible" class="hide-show-button"
            >
          </div>
          <div style="position: relative">
            <input
              placeholder="Retype password"
              [type]="passVisible? 'text': 'password'"
              [(ngModel)]="confirmedPassword"
            >
            <img
              [alt]="passVisible? 'Hide password': 'Show password'"
              [src]="passVisible? 'assets/visibility.svg': 'assets/visibility-off.svg'"
              (click)="passVisible = !passVisible"
              class="hide-show-button"
            >
          </div>
          <button id="passwordButton" (click)="confirmPassword()">CREATE NEW PASSWORD</button>
        </div>
      </div>
    </div>
  </div>
</div>
