.popup-container {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #4d5071;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: var(--banka-dark-gray);
    border-radius: 10px;
    font-family: "Jura", sans-serif;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #6d6464;
}

.popup-header span {
    font-size: 1.2em;
    font-weight: bold;
}

.close-icon {
    cursor: pointer;
    font-size: 1em;
    color: var(--banka-white);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #6d6464;
    font-size: larger;
}


.form-group {
    margin-bottom: 10px;
    font-size: 0.8;
}

.label {
    color: var(--banka-white);
}

.bottom-buttons {
    display: flex;
    gap: 16px;
}

