.popup-container {
  padding: 20px;
  background-color: #26262C;
  color: #fff;
  width: fit-content;
  height: fit-content;
  /*border-radius: 40px;*/
  /*font-family: 'Inter', sans-serif;*/
}

.title {
  margin: 20px;
  font-size: 36px;
  color: #FFB72B;
}

.labels {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 250px;
}

.label {
  margin-top: 30px;
  font-size: 24px;
  color: #FFF9F0;
  font-weight: lighter;
}

.value {
  font-size: 24px;
  color: #B3ABA0;
  font-weight: lighter;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  margin-right: 10px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.close-button:hover {
  color: #FFB72B;
}

.options{
  font-size: 24px;
  margin: 50px 10px;
  color: #B3ABA0
}

@media (max-width: 768px) {

  .title {
    font-size: 30px;
  }

  .label {
    font-size: 18px;
  }

  .value {
    font-size: 18px;
  }

  .options{
    font-size: 18px;
  }

}

