* {
  color: #263238;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("/assets/pozadina_dark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 10rem;
  font-family: "Jura", sans-serif;
}

.activation-modal {
  background-color: var(--banka-dark-gray);
  width: 30vw;

  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
}

.close-btn {
  margin-left: auto;
  color: var(--banka-white);
  cursor: pointer;
  font-size: 20px;
  font-family: "Jura", sans-serif;
}

.act-modal-title {
  text-align: center;
  font-size: 25px;
  font-family: "Jura", sans-serif;
  color: var(--banka-white);
  font-weight: 800;
}

.gray-line {
  height: 1px;
  background-color: #bebab5;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.act-form {
  margin: auto;
}

.act-label {
  font-family: "Jura", sans-serif;
  font-size: 20px;
  color: var(--banka-white);
  font-weight: 300;
}

.act-input {
  font-family: "Jura", sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: var(--banka-white);
  width: 15rem;
  height: 2.3rem;
  color: var(--banka-black);
  margin-top: 5px;

  border-radius: 5px;
}

.act-form-group {
  margin-top: 20px;
}

.already-have {
  margin: auto;
  margin-top: 10px;
  font-size: 15px;
  color: var(--banka-orange);
  text-decoration: none;
}

.already-have:hover {
  text-decoration: underline;
}

.act-modal-footer {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.back-btn {
  margin: auto;

  width: 9rem;
  height: 1.6rem;

  justify-content: center;
  align-items: center;
  background-color: var(--banka-orange);
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-family: "Jura", sans-serif;
}

.alert {
  height: 60px;
  width: 30vw;
  background: #f8d7da;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #f1aeb5;
  border-width: 1px;
  border-style: solid;
  border-radius: 16px;
  color: #7b1559;
  margin: auto;
  margin-bottom: 20px;

  font-size: 20px;
}

.stage-2-text {
  text-align: left;
  color: var(--banka-white);
}

.generate-code-button {
  background-color: var(--banka-orange);
  color: var(--banka-dark-gray);
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  margin: auto;
}

@media (max-width: 576px) {
  .activation-modal {
    width: 90vw;
  }
}
