<div class="popup-container">
    <div class="popup-header">
      <h1>Add New Bank Account</h1>
      <button class="closeBtn" (click)="cancel()">X</button>
    </div>
    <hr style="background-color: black; margin-top: 0; height: 1px;">

    <div class="popup-body">
        <div class="form-container">
            <div class="left-section">
                
                <div class="form-group">
                    <label for="status">Status:</label>
                    <select id="status" [(ngModel)]="accountToCreate.status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
        
                <div class="form-group">
                    <label for="type">Type:</label>
                    <select id="type" [(ngModel)]="accountToCreate.accountType" (change)="onAccountTypeChange()">
                        <option value="CURRENT">CURRENT</option>
                        <option value="FOREIGN_CURRENCY">FOREIGN_CURRENCY</option>
                        <option value="BUSINESS">BUSINESS</option>
                    </select>
                </div>
            </div>
      
            <div class="right-section">
              <div class="form-group">
                  <label for="phone">Upkeep:</label>
                  <input type="text" id="phone" [(ngModel)]="accountToCreate.maintenanceCost" name="phone" required pattern="^\d+(\.\d+)?$" #maintenanceCost="ngModel" [ngClass]="{ 'invalid-input': maintenanceCost.invalid && (maintenanceCost.dirty || maintenanceCost.touched) }"/>
                  <div *ngIf="maintenanceCost.invalid && (maintenanceCost.dirty || maintenanceCost.touched)" class="error-message">
                    <div *ngIf="maintenanceCost.hasError('required')" style="color: red;">Upkeep is required.</div>
                    <div *ngIf="maintenanceCost.hasError('pattern')" style="color: red;">Invalid Upkeep format (must contain only digits).</div>
                  </div>
                </div>
      
            <div class="form-group">
                <label for="jmbg">Currency:</label>
                <input type="text" id="jmbg" [(ngModel)]="accountToCreate.currency" name="jmbg" [readOnly]="isCurrencyReadOnly" required  #currency="ngModel" [ngClass]="{ 'invalid-input': currency.invalid && (currency.dirty || currency.touched) }" />
                <div *ngIf="currency.invalid && (currency.dirty || currency.touched)" class="error-message">
                    <div *ngIf="currency.hasError('required')" style="color: red;">Currency is required.</div>
                </div>
            </div>
      
            <div class="form-group buttonSl">
                  <button (click)="cancel()">Cancel</button>
            <button (click)="submit()">Create</button>
            </div>
      
            </div>
        </div>
    </div>
</div>
