<div class="popup-container">
    <div class="popup-header">
      <h1 style="color: var(--banka-white)">Add New Bank Account</h1>
      <button class="closeBtn" (click)="cancel()">X</button>
    </div>
    <hr style="background-color: black; margin-top: 0; height: 1px;">

    <div class="popup-body">
        <div class="form-container">

            <div class="left-section">
              <div class="form-group">
                    <label>Status:</label> <br>
<!--                    <select id="status" class="security-filter-select" [(ngModel)]="accountToCreate.status">-->
<!--                        <option value="false">Active</option>-->
<!--                        <option value="true">Inactive</option>-->
<!--                    </select>-->
<!--                <div class="dropdown">-->
<!--                  <button class="btn btn-custom-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    {{chooseStatus}}-->
<!--                  </button>-->
<!--                  <ul class="dropdown-menu dropdown_input">-->
<!--                    <li><a class="dropdown-item" (click)="setStatus(false)">Active</a></li>-->
<!--                    <li><a class="dropdown-item" (click)="setStatus(true)">Inactive</a></li>-->
<!--                  </ul>-->
<!--                </div>-->
                <dropdown-input [inputName]="'status'" [valueNames]="dropdownStatusNames" [values]="dropdownStatusValues" (selectedValue)="setStatus($event)"></dropdown-input>
              </div>
              <div class="form-group">
                <label>Type:</label> <br>
                <dropdown-input [inputName]="'type'" [valueNames]="dropdownType" [values]="dropdownType" (selectedValue)="setType($event)"></dropdown-input>
              </div>
              <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" id="name" [(ngModel)]="accountToCreate.accountName" name="name"   />
                  <div *ngIf="currency.invalid && (currency.dirty || currency.touched)" class="error-message">
                      <div *ngIf="currency.hasError('required')" style="color: red;">Currency is required.</div>
                  </div>
              </div>
            </div>

            <div class="right-section">
              <div class="form-group">
                  <label for="phone">Upkeep:</label>
                  <input type="number" id="phone" [(ngModel)]="accountToCreate.maintenanceCost" name="phone" required pattern="^\d+(\.\d+)?$" #maintenanceCost="ngModel" [ngClass]="{ 'invalid-input': maintenanceCost.invalid && (maintenanceCost.dirty || maintenanceCost.touched) }"/>
                  <div *ngIf="maintenanceCost.invalid && (maintenanceCost.dirty || maintenanceCost.touched)" class="error-message">
                    <div *ngIf="maintenanceCost.hasError('required')" style="color: red;">Upkeep is required.</div>
                    <div *ngIf="maintenanceCost.hasError('pattern')" style="color: red;">Invalid Upkeep format (must contain only digits).</div>
                  </div>
                </div>
<!--              <div class="form-group">-->
<!--                <custom-field-->
<!--                  [labelText]="'Upkeep'"-->
<!--                  [(ngModel)]="accountToCreate.maintenanceCost"-->
<!--                  [pattern]="'^\d+(\.\d+)?$'"-->
<!--                  [requiredErrorText]="'Upkeep is required.'"-->
<!--                  [patternErrorText]="'Invalid Upkeep format (must contain only digits).'">-->
<!--                </custom-field>-->
<!--              </div>-->
            <div class="form-group">
                <label for="jmbg">Currency:</label>
                <input type="text" id="jmbg" [(ngModel)]="accountToCreate.currencyCode" name="jmbg" [readOnly]="isCurrencyReadOnly" required  #currency="ngModel" [ngClass]="{ 'invalid-input': currency.invalid && (currency.dirty || currency.touched) }" />
                <div *ngIf="currency.invalid && (currency.dirty || currency.touched)" class="error-message">
                    <div *ngIf="currency.hasError('required')" style="color: red;">Currency is required.</div>
                </div>
            </div>
<!--              <div class="form-group">-->
<!--                <custom-field-->
<!--                  [labelText]="'Currency'"-->
<!--                  [(ngModel)]="accountToCreate.currencyName"-->
<!--                  [requiredErrorText]="'Currency is required.'">-->
<!--                </custom-field>-->
<!--              </div>-->

          <div class="bottom-buttons">
            <outline-orange-button [buttonName]="'Cancel'" (click)="cancel()"></outline-orange-button>
            <orange-button [buttonName]="'Create'" (click)="submit()"></orange-button>
          </div>

            </div>
        </div>
    </div>
</div>
