<div class="container">
  <div class="page">
    <div class="limit-info" *ngIf="isAgent">
      <h2>Limit: {{ orderLimitBalance == 0 ? 'no limit' : (orderLimitBalance | number:'1.2-2') }}</h2>
      <h2>Available: {{ getAvailable() | number:'1.2-2' }}</h2>
    </div>
    <div class="security-title">Orders</div>
    <div class="central-window">
      <div class="tabs-menu">
        <ul>
          <li
            class="{{ selectedTab === 'order-history' ? 'active-tab' : '' }}"
            (click)="setSelectedTab('order-history')"
          >
            Order history
          </li>
          <li
            class="{{ selectedTab === 'requests' ? 'active-tab' : '' }}"
            (click)="setSelectedTab('requests')"
            *ngIf="(isAdmin || isSupervizor)"
          >
            Requests
          </li>
          <li
            class="{{ selectedTab === 'securities' ? 'active-tab' : '' }}"
            (click)="setSelectedTab('securities')"
          >
            Securities
          </li>

        </ul>
        <hr />
      </div>
      <div class="history-tab" *ngIf="selectedTab === 'order-history'">
        <table>
          <thead>
            <tr>
              <th>Security</th>
              <th>Transaction</th>
              <th>Amount</th>
              <th>Price</th>
              <th>Status</th>
              <th>Last Modified</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orderHistory">
              <td>{{ order.listingType }}</td>
              <td>{{ order.orderType }}</td>
              <td>{{ order.contractSize }}</td>
              <td>{{ order.price }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.updatedAt * 1000 | date:'short' }}</td>            </tr>
          </tbody>
        </table>
      </div>

      <div class="history-tab" *ngIf="selectedTab === 'requests'">
        <table>
          <thead>
          <tr>
            <th>Security</th>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Status</th>
            <th>Last Modified</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orderHistory | filterByStatus: OrderStatus.PROCESSING">
            <td>{{ order.listingType }}</td>
            <td>{{ order.orderType }}</td>
            <td>{{ order.contractSize }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.updatedAt * 1000 | date:'short' }}</td>
            <td>
              <div
                class="table-buttons">
                <button class="button-primary" (click)="approveOrder(order)">
                  Approve
                </button>
                <button class="button-secondary" (click)="denyOrder(order)">
                  Deny
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="securities-tab" *ngIf="selectedTab === 'securities'">
        <app-dynamic-table [headersArray]="headersSecurities" [dataArray]="securities | transformSecurities" [showActions]="true">
          <ng-template #actionsColumn let-row>
            <div id="helperDiv">
              <orange-button [buttonName]="'Sell'" (click)="sellOrder(row.original)"></orange-button>
            </div>
          </ng-template>
        </app-dynamic-table>
      </div>
    </div>
  </div>
</div>
