.container{
  /* padding-left: 300px; */
    padding-left: 20%;
    padding-right: 0px;
  /* background-color: #0C0C11; */
 
}
.page {
  width: 100%;
  height: 100%;
  /* background: #0C0C11;
  background-color: #0C0C11; */
  position: relative;
}
h1 {
  color: #FFB72B;
  font-size: 36px;
  font-weight: 700;
  padding-top: 60px;
  margin-left: 16px;
}

.central-window {
  position: absolute;

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  */

  
  background: #26262C;
  border-radius: 30px;

  width: 100%;
   min-height: 50%;

  overflow-x: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.central-window::-webkit-scrollbar {
  display: none;
}

.tabs-menu {
  width: 100%;
}

.tabs-menu ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin-bottom: 0px;
}

.tabs-menu ul li {
  font-size: 20px;
  font-weight: 700;
  color: #B3ABA0;

  border-radius: 14px 12px 0px 0px;

  cursor: pointer;

  padding: 20px 27px 15px;

  user-select: none;
}

.tabs-menu ul li:hover {
  background: #131319;
  color: #FFB72B;
}

.active-tab {
  background: #131319;
  color: #FFB72B!important;
  border-bottom-style: solid;
  border-color: #FFB72B;
  border-width: 1px;
}

hr {
  width: 100%;
  margin-top: 0;
}

table {
  width: 100%;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-spacing: 0;
}

thead {
  background: #131319;
  padding: 0;
}
th {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
}

td {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #FFF9F0;
  border-bottom-width: 1px;
  padding: 20px 0;
}

th:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

th:nth-last-child(1) {
  border-radius: 0 5px 5px 0;
}

.button-primary {
  padding: 10px 35px;
  border-radius: 10px;
  color: white;
  background: #FFB72B;
  border: none;
  cursor: pointer;
}

.button-secondary {
  padding: 10px 35px;
  border-radius: 10px;
  color: white;
  background: transparent;
  border-color: #FFB72B;
  border-width: 1px;
  cursor: pointer;
  border-style: solid;
}

.table-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.popup-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;

  background: rgba(217, 217, 217, 0.45);

}

.popup {
  height: 100%;
  width: 60%;
  background: #26262C;

  position: absolute;
  z-index: 100;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 40px;

  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.popup-header {
  position: relative;
}

.x-button {
  position: absolute;
  left: auto;
  right: 20px;
  top: 20px;
  bottom: auto;

  cursor: pointer;
}

.popup-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-row {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.input-row label {
  color: #FFF9F0;
  font-size: 24px;
  font-weight: 400;
  width: 200px;
}

.input-row input {
  border-radius: 20px;
  height: 41px;
  width: 223px;
  background: #D9D9D9;
}

.popup-buttons {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.popup::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .central-window {
    -ms-overflow-style: scrollbar;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
  }

  .central-window::-webkit-scrollbar {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .popup {
    width: 95%;

    -ms-overflow-style: scrollbar;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
  }
  .popup::-webkit-scrollbar {
    display: block;
  }
}