<div class="popup-container">
    <div class="popup-header">
      <span style="color: var(--banka-white)">Add User</span>
      <span class="close-icon" (click)="onCloseAddUserPopup()">X</span>
    </div>

    <div class="form-container">
      <div class="left-section">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" [(ngModel)]="addUserData.email" name="email" required #emailModel="ngModel" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [ngClass]="{ 'invalid-input': emailModel.invalid && (emailModel.dirty || emailModel.touched) }"/>
            <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="error-message">
            <div *ngIf="emailModel.hasError('required')" style="color: red;">Email is required.</div>
            <div *ngIf="emailModel.hasError('pattern')" style="color: red;">Invalid email format.</div>
             </div>
          </div>

          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="addUserData.firstName" name="name" required pattern="[a-zA-Z]+" required #nameModel="ngModel" [ngClass]="{ 'invalid-input': nameModel.invalid && (nameModel.dirty || nameModel.touched) }" />
            <div *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)" class="error-message">
              <div *ngIf="nameModel.hasError('required')" style="color: red;">Name is required.</div>
              <div *ngIf="nameModel.hasError('pattern')" style="color: red;">Name must contain only letters.</div>
            </div>
          </div>



          <div class="form-group">
            <label for="surname">LastName:</label>
            <input type="text" id="surname" [(ngModel)]="addUserData.lastName" name="surname" required #surnameModel="ngModel" required pattern="[a-zA-Z]+" [ngClass]="{ 'invalid-input': surnameModel.invalid && (surnameModel.dirty || surnameModel.touched) }"/>
            <div *ngIf="surnameModel.invalid && (surnameModel.dirty || surnameModel.touched)" class="error-message">
              <div *ngIf="surnameModel.hasError('required')" style="color: red;">Surname is required.</div>
              <div *ngIf="nameModel.hasError('pattern')" style="color: red;">Last name must contain only letters.</div>
            </div>
          </div>


        <div class="form-group active-checkbox" *ngIf="addUserData.position === 'Agent'">
          <label for="limit" style="font-size:large; color: var(--banka-white)">Limit:</label>
          <input type="checkbox" id="limit" [(ngModel)]="limit" />
        </div>
        <div class="form-group" *ngIf="limit">
          <label for="order-limit">Insert limit:</label>
          <input type="number" id="order-limit" [(ngModel)]="addUserData.orderLimit" name="limit"  />
        </div>
        <div class="form-group" *ngIf="limit">
          <label >Approval required:  <input type="checkbox"  [(ngModel)]="addUserData.requireApproval" name="limit"  /></label>

        </div>
      </div>

      <div class="right-section">
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" [(ngModel)]="addUserData.phoneNumber" name="phone" required pattern="^\d+$" #phoneModel="ngModel" [ngClass]="{ 'invalid-input': phoneModel.invalid && (phoneModel.dirty || phoneModel.touched) }"/>
            <div *ngIf="phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)" class="error-message">
              <div *ngIf="phoneModel.hasError('required')" style="color: red;">Phone Number is required.</div>
              <div *ngIf="phoneModel.hasError('pattern')" style="color: red;">Invalid Phone Number format (must contain only digits).</div>
            </div>
          </div>


        <div class="form-group">
          <label class="label" >Position:</label>

        <dropdown-input [inputName]="'position'" [valueNames]="['Admin', 'Supervisor', 'Agent']" [values]="['Admin', 'Supervisor', 'Agent']" (selectedValue)="setPosition($event)"></dropdown-input>
        </div>



        <div class="form-group">
          <label for="jmbg">JMBG:</label>
          <input type="text" id="jmbg" [(ngModel)]="addUserData.jmbg" name="jmbg" required pattern="^\d{13}$" #jmbgModel="ngModel" [ngClass]="{ 'invalid-input': jmbgModel.invalid && (jmbgModel.dirty || jmbgModel.touched) }" />
          <div *ngIf="jmbgModel.invalid && (jmbgModel.dirty || jmbgModel.touched)" class="error-message">
            <div *ngIf="jmbgModel.hasError('required')" style="color: red;">JMBG is required.</div>
            <div *ngIf="jmbgModel.hasError('pattern')" style="color: red;">Invalid JMBG format (must be 13 digits).</div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-buttons">
      <outline-orange-button [buttonName]="'Cancel'" (click)="onCancelAddUserPopup()"></outline-orange-button>
      <orange-button [buttonName]="'Create'" (click)="onCreateAddUserPopup()"></orange-button>
    </div>

  </div>
