.popup-container {
      width: 80%;
      max-width: 500px;
      padding: 20px;
      border: 1px solid #4d5071;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Centriranje po sredini ekrana */
      background-color: var(--banka-dark-gray);
      border-radius: 10px;
  font-family: "Jura", sans-serif;

}

    .popup-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      border-bottom: 1px solid #6d6464;
    }

    .popup-header span {
      font-size: 25px;
      font-weight: bold;

    }

    .close-icon {
      cursor: pointer;
      font-size: 20px;
      color: var(--banka-white);
    }

    .form-container {
      display: flex;
      flex-wrap: wrap;
    }

    .left-section,
    .right-section {
      flex: 1;
    }

    .form-group {
      margin-bottom: 10px;
      font-size: 10px;
    }

    .form-group.active-checkbox {
      display: flex;
      align-items: center;
      vertical-align:middle;
    }

    .form-group.active-checkbox label {
      margin-top: 15%;
    }

    .form-group.buttonSl {
      margin-top: 20%;
    }

    .form-group.buttonSl button:first-child {
      margin-left: 10%;
      margin-right: 10%;
      width:40%;
      border-radius: 5px;
    }

    .form-group input {
      color: var(--banka-white);

      border: 2px solid var(--banka-white);
    }

    .form-group label {
      color: var(--banka-white);

    }

    .form-group.buttonSl button:last-child {
      background-color: #103145;
      color: #fff;
      width:40%;
      border-radius: 5px;
    }

  .form-group.active-checkbox input[type="checkbox"] {
      margin-top: 15%;
      transform: scale(1.5);
      border: 2px solid #56b214;
      border-radius: 5px;
    }

    .left-section input,
    .right-section input,
    .right-section select {
      width: 90%;
      height:auto;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: var(--banka-dark-gray);
      padding: 8px;
    }

    .right-section {
      text-align: left;
    }

    .button-section {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }

    .invalid-input {
      border: 2px solid red !important;
    }

    /* Dodati media upit za responsivnost tabele TODO */
.filter-dropdown {
  position: relative; /* Allows absolute positioning for the arrow */
  display: inline-block; /* Fit the size of the content */
}
/* Style for the select element */
.security-filter-select {
  /*appearance: none; !* Remove default system appearance *!*/
  background-color: var(--banka-dark-gray); /* Dark background color */
  color: var(--banka-white); /* White text color */
  border: 2px solid var(--banka-white); /* White border */
  border-radius: 15px; /* Soft rounded borders */
  padding: 8px 24px 8px 12px; /* Padding for text and custom arrow space */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Text size */
  /*outline: none; !* Remove default focus outline *!*/
}

/* Custom arrow using a pseudo-element */
.filter-dropdown::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Position relative to the filter-dropdown container */
  top: 50%; /* Center vertically */
  right: 10px; /* Position from the right */
  width: 0;
  height: 0;
  border: 5px solid transparent; /* Create a triangle using borders */
  border-top-color: var(--banka-white); /* Top border as the arrow */
  transform: translateY(-50%); /* Ensure it's perfectly centered */
  pointer-events: none; /* Ensure clicks pass through to the select element */
}
.label {
  color: var(--banka-white);
}
.bottom-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

