<div class="popup-container">
    <div class="popup-header">
      <span style="color: var(--banka-white)">Add User</span>
      <span class="close-icon" (click)="onCloseAddUserPopup()">X</span>
    </div>

    <div class="form-container">
      <div class="left-section">
<!--          <div class="form-group">-->
<!--            <label for="email">Email:</label>-->
<!--            <input type="text" id="email" [(ngModel)]="addUserData.email" name="email" required #emailModel="ngModel" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [ngClass]="{ 'invalid-input': emailModel.invalid && (emailModel.dirty || emailModel.touched) }"/>-->
<!--            <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="error-message">-->
<!--            <div *ngIf="emailModel.hasError('required')" style="color: red;">Email is required.</div>-->
<!--            <div *ngIf="emailModel.hasError('pattern')" style="color: red;">Invalid email format.</div>-->
<!--             </div>-->
<!--          </div>-->
            <div class="form-group">
              <custom-field
                [labelText]="'Email'"
                [(ngModel)]="addUserData.email"
                [pattern]="'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'"
                [requiredErrorText]="'Email is required.'"
                [patternErrorText]="'Invalid email format.'">
              </custom-field>
            </div>
<!--          <div class="form-group">-->
<!--            <label for="name">Name:</label>-->
<!--            <input type="text" id="name" [(ngModel)]="addUserData.firstName" name="name" required pattern="[a-zA-Z]+" required #nameModel="ngModel" [ngClass]="{ 'invalid-input': nameModel.invalid && (nameModel.dirty || nameModel.touched) }" />-->
<!--            <div *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)" class="error-message">-->
<!--              <div *ngIf="nameModel.hasError('required')" style="color: red;">Name is required.</div>-->
<!--              <div *ngIf="nameModel.hasError('pattern')" style="color: red;">Name must contain only letters.</div>-->
<!--            </div>-->
<!--          </div>-->
        <div class="form-group">
          <custom-field
            [labelText]="'Name'"
            [(ngModel)]="addUserData.firstName"
            [pattern]="'[a-zA-Z]+'"
            [requiredErrorText]="'Name is required.'"
            [patternErrorText]="'Name must contain only letters.'">
          </custom-field>
        </div>


        <!-- Surname -->
<!--          <div class="form-group">-->
<!--            <label for="surname">LastName:</label>-->
<!--            <input type="text" id="surname" [(ngModel)]="addUserData.lastName" name="surname" required #surnameModel="ngModel" required pattern="[a-zA-Z]+" [ngClass]="{ 'invalid-input': surnameModel.invalid && (surnameModel.dirty || surnameModel.touched) }"/>-->
<!--            <div *ngIf="surnameModel.invalid && (surnameModel.dirty || surnameModel.touched)" class="error-message">-->
<!--              <div *ngIf="surnameModel.hasError('required')" style="color: red;">Surname is required.</div>-->
<!--              <div *ngIf="nameModel.hasError('pattern')" style="color: red;">Last name must contain only letters.</div>-->
<!--            </div>-->
<!--          </div>-->
        <div class="form-group">
          <custom-field
            [labelText]="'LastName'"
            [(ngModel)]="addUserData.lastName"
            [pattern]="'[a-zA-Z]+'"
            [requiredErrorText]="'Surname is required.'"
            [patternErrorText]="'Last name must contain only letters.'">
          </custom-field>
        </div>
<!--          <div class="form-group">-->
<!--            <label for="jmbg">JMBG:</label>-->
<!--            <input type="text" id="jmbg" [(ngModel)]="addUserData.jmbg" name="jmbg" required pattern="^\d{13}$" #jmbgModel="ngModel" [ngClass]="{ 'invalid-input': jmbgModel.invalid && (jmbgModel.dirty || jmbgModel.touched) }" />-->
<!--            <div *ngIf="jmbgModel.invalid && (jmbgModel.dirty || jmbgModel.touched)" class="error-message">-->
<!--              <div *ngIf="jmbgModel.hasError('required')" style="color: red;">JMBG is required.</div>-->
<!--              <div *ngIf="jmbgModel.hasError('pattern')" style="color: red;">Invalid JMBG format (must be 13 digits).</div>-->
<!--            </div>-->
<!--          </div>-->
        <div class="form-group">
          <custom-field
            [labelText]="'JMBG'"
            [(ngModel)]="addUserData.jmbg"
            [pattern]="'[a-zA-Z]+'"
            [requiredErrorText]="'JMBG is required.'"
            [patternErrorText]="'Invalid JMBG format (must be 13 digits).'">
          </custom-field>
        </div>
      </div>

      <div class="right-section">
<!--        <div class="form-group">-->
<!--            <label for="phone">Phone Number:</label>-->
<!--            <input type="text" id="phone" [(ngModel)]="addUserData.phoneNumber" name="phone" required pattern="^\d+$" #phoneModel="ngModel" [ngClass]="{ 'invalid-input': phoneModel.invalid && (phoneModel.dirty || phoneModel.touched) }"/>-->
<!--            <div *ngIf="phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)" class="error-message">-->
<!--              <div *ngIf="phoneModel.hasError('required')" style="color: red;">Phone Number is required.</div>-->
<!--              <div *ngIf="phoneModel.hasError('pattern')" style="color: red;">Invalid Phone Number format (must contain only digits).</div>-->
<!--            </div>-->
<!--          </div>-->
        <div class="form-group">
          <custom-field
            [labelText]="'Phone Number'"
            [(ngModel)]="addUserData.phoneNumber"
            [pattern]="'^\\d+$'"
            [requiredErrorText]="'Phone Number is required.'"
            [patternErrorText]="'Invalid Phone Number format (must contain only digits).'">
          </custom-field>
        </div>

        <div class="form-group filter-dropdown">
          <label for="position" class="label" >Position:</label>
          <select id="position" class="security-filter-select" [(ngModel)]="addUserData.position">
            <option value="Employee">Employee</option>
            <option value="Admin">Admin</option>
          </select>
        </div>

        <div class="form-group active-checkbox">
            <label for="active" style="font-size:large; color: var(--banka-white)">Active:</label>
            <input type="checkbox" id="active" [(ngModel)]="addUserData.active" />
        </div>

        <!-- <h3 style="margin-bottom: 5px;">Permissions:</h3>
        <div *ngFor="let permission of permissions" style="display: flex; align-items: center; margin-bottom: 5px;">
          <label style="width: 50px;" for="{{permission.name}}">{{permission.name}}</label>
          <input type="checkbox" id="{{permission.name}}" name="{{permission.name}}" (change)="onPermissionChange(permission, $event)" style="margin-right: 5px;" />
        </div>
          -->

        <div class="form-group buttonSl">
          <outline-orange-button [buttonName]="'Cancel'" (click)="onCancelAddUserPopup()"></outline-orange-button>
          <orange-button [buttonName]="'Create'" (click)="onCreateAddUserPopup()"></orange-button>
<!--          <button (click)="onCancelAddUserPopup()">Cancel</button>-->
<!--          <button (click)="onCreateAddUserPopup()">Create</button>-->
        </div>

      </div>


    </div>
  </div>
