<div class="content">
  <div class="security-title">Employee panel</div>

  <div class="security-tabs">
    <div [ngClass]="selectedTab === 'users' ? 'tab tab-active' : 'tab'" (click)="setSelectedTab('users')">
      <div class="tab-content">Users</div>
    </div>
    <div [ngClass]="selectedTab === 'permissions' ? 'tab tab-active' : 'tab'" (click)="setSelectedTab('permissions')">
      <div class="tab-content">Permissions</div>
    </div>
    <div *ngIf="this.p === 'admin' || this.p === 'supervizor'"  [ngClass]="selectedTab === 'limits' ? 'tab tab-active' : 'tab'" (click)="setSelectedTab('limits')">
      <div class="tab-content">Limits</div>
    </div>
  </div>

    <div class="tabs-content" [ngSwitch]="selectedTab">
      <div *ngSwitchCase="'limits'">
        <app-dynamic-table [headersArray]="headersLimits" [dataArray]="limits | transformLimits" [showActions]="true">
          <ng-template #actionsColumn let-row>
            <div class="options-menu">
              <span id="options-button" class="material-symbols-outlined">more_vert</span>
              <div class="options-dropdown">
                <button (click)="editLimit(row.originalLimit)">Edit</button>
                <button (click)="resetLimit(row.originalLimit)">Reset</button>
              </div>
            </div>
          </ng-template>

        </app-dynamic-table>
      </div>

      <div *ngSwitchCase="'users'">
        <div class="filter-row">
          <div class="left-row">

            <label class="label" >Position:</label>
            <dropdown-input [inputName]="'position'" [valueNames]="['Admin', 'Supervisor', 'Agent']" [values]="['Admin', 'Supervisor', 'Agent']" (selectedValue)="setPosition($event)"></dropdown-input>

            <transparent-text-field class="searchTF" [(text)]="firstName" [fieldName]="'By name'"></transparent-text-field>
            <transparent-text-field class="searchTF" [(text)]="email" [fieldName]="'Search by email'"></transparent-text-field>
            <transparent-text-field class="searchTF" [(text)]="lastName" [fieldName]="'By surname'"></transparent-text-field>

            <div class="search-icon">
              <button (click)="search()" class="button-image">
                <img src="assets/search.png" alt="search" >
              </button>
            </div>

          </div>

          <div class="right-row">
            <orange-button *ngIf="canAddUser()" [buttonName]="'Add new User'" (click)="togglePopupAddUser()"></orange-button>
          </div>
        </div>

        <app-dynamic-table [headersArray]="headersUsers" [dataArray]="users | transformUsers" [showActions]="true">
          <ng-template #actionsColumn let-row>
            <div class="options-menu">
              <span id="options-button" class="material-symbols-outlined">more_vert</span>
              <div class="options-dropdown">
                <button *ngIf="canEditUser()" id="editProfile-button" (click)="editUser(row.originalUser)">Update user</button>
                <button *ngIf="canDeleteUser()" id="delete-button" (click)="deleteUser(row.originalUser)">Delete</button>
              </div>
            </div>
          </ng-template>
        </app-dynamic-table>
      </div>


      <div *ngSwitchCase="'permissions'">
        <div class="filter-row">
          <div class="left-row">
            <div class="filter-input">
              <transparent-text-field [(text)]="searchEmail" [fieldName]="'Search by email'"></transparent-text-field>
            </div>
            <div class="search-icon">
              <button (click)="filter()" class="button-image">
                <img src="assets/search.png" alt="search" >
              </button>
            </div>
          </div>
        </div>

        <div class="security-table-wrapper">
          <app-dynamic-table [headersArray]="headersPermissions" [dataArray]="users | transformPermissions"
                             [showAnotherColumn]="true" [showActions]="true">
            <ng-template #anotherColumn let-row>
              <div id="helperDiv">
                <div *ngFor="let permission of row.originalUser.permissions; let i = index" class="permission-element">
                  <span>⠀</span>
                  {{ permission.name }}
                  <span *ngIf="hasPermission" class="close-icon" (click)="removePermission(row.originalUser, i)">✖ </span>
                  <span>⠀</span>
                </div>
              </div>
            </ng-template>
            <ng-template #actionsColumn let-row>
              <div class="options-menu">
                <span id="options-button" class="material-symbols-outlined">more_vert</span>
                <div class="options-dropdown">
                  <button id="editProfile-button" (click)="editUserPermissions(row.originalUser)">Add permission</button>
                  <button id="delete-button" (click)="deleteAllPermissions(row.originalUser)">Delete all</button>
                </div>
              </div>
            </ng-template>
          </app-dynamic-table>
        </div>
      </div>
    </div>
</div>










