.content {
  display: flex;
  flex-direction: column;

  margin-left: 5rem;
  margin-top: 5rem;
 font-family: "Jura", sans-serif;
}

.security-title {
  color: var(--banka-orange);
  font-size: 35px;
  font-weight: 700;

  margin-bottom: 7rem;
}


.table-content {
  background-color: var(--banka-dark-gray);

  padding-top: 30px;
  padding-bottom: 30px;
  width: 60vw;
  border-radius: 15px;
}


.search-icon {
  cursor: pointer;
  margin-left: 10px;
  background-color: var(--banka-orange);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 35px;
  height: 35px;
  display: flex;
}

.filter-row {
  display: flex;

  /*justify-content: left; /* Center the content */
  padding: 20px; /* Add some padding for spacing */
  /*background-color: #f2f4f6; !* Light background color for the filter area *!*/
  /*border-bottom: 2px solid #d1d8e0; !* Add a subtle border for separation *!*/

  justify-content: space-between;


}

.left-row {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-left: 20px;
}


/* Styling for the filter input */
.filter-input input.security-filter-input {
  width: 100%; /* Full width of its container */
  /* Padding for the input */
  padding: 10px 15px 10px 15px;
  border: 2px solid #d1d8e0; /* Border color */
  border-radius: 20px; /* Rounded corners for the input */
  outline: none; /* Remove the default focus outline */
  font-size: 16px; /* Font size */
  color: #333; /* Text color */
}

.filter-input input.security-filter-input::placeholder {
  color: #a6a9ad; /* Placeholder text color */
}
.filter-input {
  margin-left: 16px;
}

/* Styling for the search button */

/* .filter-input {
  margin-left: 100px;
} */
/*
.security-filter-input {
  border-radius: 5px;

  height: 3vh;
  border: 1.3px solid #263238;
  padding: 15px;
  font-size: 18px;

} */

.security-filter-select {
  border-radius: 5px;

  height: 4.3vh;
  border: 1.3px solid #263238;
  padding: 5px;
  font-size: 18px;
}

.right-row {
  margin-top: 1.3em;
  padding-left: 16px;
  display: flex;
  align-items: center;

  text-align: right;
  padding-right: 20px;

  margin-top: 2%;

}

.add-new-btn {
  padding: 12px;
  background-color: var(--banka-orange); /* Initial background color */
  border: 1px solid var(--banka-orange);

  border-radius: 5px;
  color: var(--banka-black); /* Text color for contrast against the white background */
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s; /* Updated to include border-color transition */
}

.add-new-btn:hover {
  background-color: var(--banka-dark-gray); /* Background color on hover */
  color: var(--banka-orange); /* Text color on hover */
}

.security-table-wrapper {

  margin-top: 2rem;

}

.wrapper-header {
  height: 3rem;
  display: flex;
  gap: 10px;
  padding-left: 3rem;
  border-bottom: 1px solid var(--banka-white);
}

.tab {
  color: var(--banka-gray);
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border-bottom: 1px solid var(--bank-white);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-active {
  background-color: var(--banka-black);
  color: var(--banka-orange);
  border-bottom: 3px solid var(--banka-orange);

  font-size: 20px;
  cursor: pointer;
  width: fit-content;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab:hover {
  border-bottom: 3px solid var(--banka-orange);
}

.user-table {
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
}

thead {
  color: #406581;
  font-weight: 400 !important;
  border-bottom: 1px solid #406581 !important;
  margin-bottom: 5px;
  text-align: center;
}

.table-head {
  border-bottom: 1px solid gray;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 100px;
  border-bottom: 1px solid gray;
  border-right: 1px dotted gray;
}

.options-menu {
  position: relative;
  display: inline-block;
}

.options-button {
  background-color: var(--banka-orange);
  border: none;
  font-weight: 900;
  font-size: 20px;
  border-radius: 30px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.options-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--banka-black);
  min-width: 120px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.options-dropdown button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--banka-white);
}
.options-menu:hover .options-dropdown {
  display: block;
}

.options-dropdown button:hover {
  background-color: var(--banka-very-dark-gray);
}


.searchTF{
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-image {
  border: none; /* Removes the border */
  background-color: transparent; /* Makes the background transparent */
  padding: 0; /* Removes padding around the image */
  cursor: pointer; /* Changes the cursor to a pointer when hovered over the button */
  display: inline-block; /* Ensures the button is properly aligned */
  overflow: hidden; /* Prevents any overflow */
  transition: opacity 0.3s ease; /* Smooth transition for the whole button */
}

.button-image img {
  width: 100%; /* Adjusts the width of the image to fill the button */
  height: auto; /* Adjusts the height to maintain the aspect ratio */
  display: block; /* Ensures the image fills the button */
  transition: transform 0.3s ease; /* Adds a transform transition for a subtle effect */
}

.button-image:hover {
  opacity: 0.8; /* Changes the opacity of the button on hover */
}

.button-image:hover img {
  transform: scale(1.05); /* Slightly scales up the image on hover */
}

/**
   Permission table and search filter
  **/
.search-container {
  font-size: 0; /* Remove white space between inline-block elements */
  margin-top: 1vw;
}


.search-input, .search-icon-div {
    display: inline-block;
    width: 20%; /* Adjust width as needed */
    font-size: 16px; /* Restore font size */

    box-sizing: border-box; /* Include padding and border in width calculation */
    vertical-align: top; /* Align elements to the top */
/* =======
.search-input,
.search-icon-div {
  display: inline-block;
  width: 20%;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
  box-sizing: border-box;
  vertical-align: top;  */

}

/* Optional: Add styling to the divs */
.search-input {
  background-color: lightblue;
}

.search-icon-div {
  margin-left: 5%;
  margin-right: 5%;
  background-color: lightgreen;
}

/** permission element **/
.permission-element {
  display: flex;
  width: fit-content;
  align-items: center;
  background-color: #19b5c7;
  border-radius: 10px;
  margin-bottom: 4px; /* Spacing between permission elements */
}

.close-icon {
  margin-left: 8px;
  cursor: pointer;
  user-select: none; /* Prevents selecting the 'x' on double click */
}

#helperDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}.security-tabs {
  display: flex;
  /*margin-bottom: 20px; !* Space between tabs and content *!*/
}

.tabs {
  background-color: var(--banka-dark-gray); /* Light gray background */
  border: 2px solid royalblue;
}

/*.usersTab {*/
/*  width: 100%;*/
/*  background-color: var(--banka-dark-gray); !* Light gray background *!*/
/*  border: 2px solid red;*/
/*}*/

.tab {
  max-width: 10vw;
  flex-grow: 1; /* Each tab takes up equal width */
  text-align: center;
  padding: 10px 0; /* Vertical padding */
  cursor: pointer;
  background-color: var(--banka-very-dark-gray); /* Light gray background */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
  border-radius: 5px 5px 0 0; /* Rounded top corners */
  margin-right: 2px; /* Small gap between tabs */
}

.tab:last-child {
  margin-right: 0; /* No gap after the last tab */
}

.tab-content {
  color: var(--banka-white); /* Dark text for contrast */
  font-weight: bold;
}

.tab-active, .tab:hover {
  background-color: var(--banka-dark-gray); /* White background for active/hovered tab */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
/* Styles for the main content container */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Center children horizontally */
  padding: 20px; /* Add some padding around the content */
}

/* Styles specifically for the tabs container */
.tabs {
  width: 70%; /* Set the width to 50% of its parent */
  margin: 0 auto; /* Center the tabs container */
  display: flex;
  flex-direction: column;
}

/* Ensure the dynamic table fills the available width of the tabs container */
app-dynamic-table {
  min-width: 700px; /* Make the table take up the full width of the tabs container */
}

/* Additional styles for visual enhancements */
.security-tabs {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left side) */
  /*min-width: 800px;*/
}

.tab {
  cursor: pointer;
  padding: 10px 20px; /* Add padding for larger click areas */
  /*margin: 0 5px; !* Space between tabs *!*/
}

.tab-active {
  background-color: var(--banka-dark-gray);
  /*border-bottom: 2px solid var(--banka-white); !* Highlight color for the active tab *!*/
}

.tab-content {
  text-align: center; /* Center the text within each tab */
}
/*.search-icon img {*/
/*  filter: invert(100%);*/
/*  margin-left: 5%;*/
/*  margin-right: 5%; !* Inverts the colors, turning black to white *!*/
/*}*/

.filter-dropdown {
  margin-top: 1.3em;
  position: relative; /* Allows absolute positioning for the arrow */
  display: inline-block; /* Fit the size of the content */

  margin-right: 5%;
  margin-top: 2%;
}
/* Style for the select element */
.security-filter-select {
  appearance: none; /* Remove default system appearance */
  background-color: var(--banka-dark-gray); /* Dark background color */
  color: var(--banka-white); /* White text color */
  border: 2px solid var(--banka-white); /* White border */
  border-radius: 15px; /* Soft rounded borders */
  padding: 8px 24px 8px 12px; /* Padding for text and custom arrow space */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Text size */
  outline: none; /* Remove default focus outline */
}

/* Custom arrow using a pseudo-element */
.filter-dropdown::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Position relative to the filter-dropdown container */
  top: 50%; /* Center vertically */
  right: 10px; /* Position from the right */
  width: 0;
  height: 0;
  border: 5px solid transparent; /* Create a triangle using borders */
  border-top-color: var(--banka-white); /* Top border as the arrow */
  transform: translateY(-50%); /* Ensure it's perfectly centered */
  pointer-events: none; /* Ensure clicks pass through to the select element */
}
.tabs-content {
  background-color: var(--banka-dark-gray);
}
.button-image img {
  width: 100%; /* Adjusts the width of the image to fill the button */
  min-width: 24px;
  height: auto; /* Adjusts the height to maintain the aspect ratio */
  display: block; /* Ensures the image fills the button */
  transition: transform 0.3s ease; /* Adds a transform transition for a subtle effect */
}
.button-image:hover img {
  transform: scale(1.05); /* Slightly scales up the image on hover */
}
app-dynamic-table {
  width: 100%; /* Makes the table take the full available width */
  min-width: 50vw; /* Ensures the table is at least half the viewport width */
  box-sizing: border-box; /* Ensures paddings and borders are included in the total width */
}
