<div style="margin-left: 5%; margin-right: 5%;">
<div class="glavni">
  <div class="search-bar">
    <input type="text" placeholder="Show all" />
    <input type="text" placeholder="Search by email" />
    <input type="text" placeholder="By name" />
    <input type="text" placeholder="By surname" />
    <button class="search-icon" (click)="search()">🔍</button>
  </div>
  <div>
    <button class="add-user-button" (click)="togglePopupAddUser()">Add new User</button>
  </div>
</div>
  
  <h2>Users</h2>
  <table class="users-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Jmbg</th>
        <th>Position</th>
        <th>PhoneNumber</th>
        <th>Activity</th>
        <th></th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.jmbg }}</td>
        <td>{{ user.position }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.active ? 'Active' : 'Inactive' }}</td>
        <td>
          <div class="options-menu">
            <button id="options-button">&#8286;</button>
            <div class="options-dropdown">
              <button id="editProfile-button" (click)="search()">Edit Profile</button>
              <button id="delete-button" (click)="search()">Delete</button>
            </div>
          </div>
        </td>
      </tr>

        
    </tbody>
  </table>
</div>
  
  
  
  
  
