.popup-container {
    border: 1px solid #26262C;
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Centriranje po sredini ekrana */
    background-color: #26262C; 
    border-radius: 42px; 
}

.form-group {
margin-bottom: 10px;
font-size: 0.8rem;
display: flex;
color: white;
flex-direction: column;
}

.form-group label {
margin-bottom: 5px;
}

.form-group input[type="text"] {
border: #FFF9F0 solid 1px;
border-radius: 5px; 
background-color: #26262C; 
color: #FFF9F0; 
padding: 8px;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 20px 20px 0px 20px;

}

.closeBtn{
    cursor: pointer;
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
}

button{
    font-size: 1.2rem;
}

@media (max-width: 776) {
    button {
        font-size: 0.5rem; /* Adjust for even smaller screens */
    }
}


@media (max-width: 576) {
    button {
        font-size: 0.5rem; /* Adjust for even smaller screens */
    }
}
