.container{
    background-color: #26262c;
    height: 90vh;
}

.titleDiv{
    font-family: 'Inter';
    font-size: xx-large;
    color: #d39a2b;
    padding-left: 5vh;
}

.titleAndCloseBtnDiv{
    padding-top: 3vh;
    cursor: pointer;
}

.infoRow{
    margin-top: 5vh;
    color: #eee9e0;
    padding-left: 5vh;
}

.up{
    font-size: large;
    height: 5vh;
    font-family: 'Inter';
}

.down{
    font-size: medium;
    border-bottom: 2px solid #eee9e0;
    font-family: 'Inter';
}

.options{
    color: #686463;
    margin-top: 3vh;
    padding-left: 5vh;
    font-size: large;
    font-family: 'Inter';
}

.opt{
    color: #eee9e0;
    font-size: large;
    font-family: 'Inter';
    padding-left: 5vh;
}

.optBtn{
    color: #eee9e0;
    font-size: large;
    font-family: 'Inter';
    cursor: pointer;
}

.optionRow{
    margin-top: 3vh;
}