<div class="popup-container">
  <div class="popup-header">
    <span *ngIf="type=='STOCK'" class="header-title">Stock Order</span>
    <span *ngIf="type=='FUTURE'" class="header-title">Future Order</span>
    <span class="close-icon" (click)="onCancelButton()">X</span>
  </div>


  <div class="popup-body">
    <div class="content">
      <div class="body-element">
        <label *ngIf="type=='STOCK'" for="volume" >Volume of a stock: </label>
        <label *ngIf="type=='FUTURE'" for="volume" >Volume of a future: </label>
        <input class="popup-input" id="volume" name="volume" [style.margin-left.px]="20"  [(ngModel)]="volumeOfStock" placeholder="value..." [ngClass]="{ 'invalid-input': validInputVolume() }"/>
<!--        <input class="popup-input" id="volume" name="volumeInput" [style.margin-left.px]="20" [(ngModel)]="volumeOfStock"/>-->
      </div>
      <div class="body-element">
        <label for="limit" [style.margin-left.px]="80">Limit value: </label>
        <input class="popup-input" id="limit" name="limit" [style.margin-left.px]="20" [(ngModel)]="limitValue" placeholder="value..." [ngClass]="{ 'invalid-input':  validInputLimit() }"/>
      </div>
      <div class="body-element">
        <label for="stop" [style.margin-left.px]="80">Stop value: </label>
        <input class="popup-input" id="stop" name="stop" [style.margin-left.px]="20" [(ngModel)]="stopValue" placeholder="value..." [ngClass]="{ 'invalid-input':  validInputStop() }"/>
      </div>

      <div class="body-element">
        <label>All or None: </label>
          <button class="btn btn-custom-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" [style.margin-left.px]="20">{{ getValue() }}</button>
          <ul class="dropdown-menu dropdown-menu-start dropdown_input">
            <li><a (click)="setValue(true)">YES</a></li>
            <li><a (click)="setValue(false)">NO</a></li>
          </ul>
      </div>

<!--      <div class="body-element">-->
<!--        <label for="margin">Margin: </label>-->
<!--        <input class="popup-input-short" id="margin" name="margin" [style.margin-left.px]="65" [(ngModel)]="margin" [ngClass]="{ 'invalid-input':  validInputVolume() }"/>-->
<!--      </div>-->


      <div class="body-element">
        <label class="warning">{{ warnMessage }}</label>
      </div>
    </div>


    <div class="popup-buttons">
      <button class="button-primary"  (click)="onCancelButton()">
        CANCEL
      </button>
      <button class="button-primary"  (click)="onBuy()">
        BUY
      </button>
    </div>


  </div>







</div>

