<div style="display: flex">
  <div class="activation-modal">
    <div class="close-btn" (click)="sendToLogin()">X</div>
    <div>
      <div class="act-modal-title">Reset password</div>
      <div class="gray-line"></div>
      <div class="passset-text">
        You've requested to set a new password for your account
      </div>
    </div>
    <div class="act-form">
      <div class="act-form-group">
        <div class="act-input-wrapper">
          <input
            class="act-input"
            placeholder="Enter password"
            [type]="passVisible ? 'text' : 'password'"
            [(ngModel)]="password"
          />

          <img
            [alt]="passVisible ? 'Hide password' : 'Show password'"
            [src]="
              passVisible
                ? 'assets/visibility.svg'
                : 'assets/visibility-off.svg'
            "
            (click)="passVisible = !passVisible"
            class="hide-show-button"
          />
        </div>
      </div>

      <div class="act-form-group">
        <div class="act-input-wrapper">
          <input
            class="act-input"
            placeholder="Retype password"
            [type]="passVisible ? 'text' : 'password'"
            [(ngModel)]="confirmedPassword"
          />

          <img
            [alt]="passVisible ? 'Hide password' : 'Show password'"
            [src]="
              passVisible
                ? 'assets/visibility.svg'
                : 'assets/visibility-off.svg'
            "
            (click)="passVisible = !passVisible"
            class="hide-show-button"
          />
        </div>
      </div>
      <div style="display: flex">
        <button id="passwordButton" (click)="confirmPassword()" class="create-pass-btn">CREATE NEW PASSWORD</button>
      </div>
    </div>
  </div>
</div>
