<div class="container col-3 popup-container m-auto" style="font-family: Jura, sans-serif; color: white;">
    <div class="row m-auto mt-3">
        <div>
            <h1 style="font-size: 32px;">Add recipient</h1>
        </div>

        <div class="form-group m-auto col-sm-12 col-md-8 col-6 mt-5">
            <label for="name">Recipient Name:</label>
            <input type="text" [(ngModel)]="name" id="name" name="name" #nameModel="ngModel" required/>
            <div *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)" class="error-message"></div>
            <div *ngIf="nameModel.hasError('required')" style="color: red;">Full name is required!</div>
        </div>

        <div class="form-group m-auto col-sm-12 col-md-8 col-6 mt-4">
            <label for="number">Recipient Account Number:</label>
            <input type="text" [(ngModel)]="bankAccountNumber" id="number" name="number" #numberModel="ngModel" required/>
            <div *ngIf="numberModel.invalid && (numberModel.dirty || numberModel.touched)" class="error-message"></div>
            <div *ngIf="numberModel.hasError('required')" style="color: red; display: inline;">Bank account number is required!</div>
        </div>

        <div class="row justify-content-around mt-5 mb-3 ms-auto me-auto">
            <button (click)="cancel()" class="btn btn-warning btn-sm col-sm-10 col-md-8 col-xl-4 mt-3" style="border-radius: 5px;" >Cancel</button>
            <button (click)="submit()" class="btn btn-warning btn-sm col-sm-10 col-md-8 col-xl-4 mt-3" style="border-radius: 5px">Apply</button>
        </div>
    </div>
</div>
