<div class="table-content">
  <div style="display: flex; height: 30px; gap: 16px;">
    <input class="security-filter-input" placeholder="Base currency" [(ngModel)]="baseCurrencyFilter" (input)="search()">
    <input class="security-filter-input" placeholder="Quote currency" [(ngModel)]="quoteCurrencyFilter" (input)="search()">
  </div>
  <div class="security-table-wrapper">
    <div class="wrapper-header">Forex</div>
    <table class="user-table" cellpadding="2px" cellspacing="0">
      <thead class="table-head-custom">
      <tr class="tr-rows">
        <th class="table-head">Ticker</th>
        <th class="table-head">Name</th>
        <th class="table-head">Exchange</th>
        <th class="table-head">Last refresh</th>
        <th class="table-head">Price</th>
        <th class="table-head">Price (low)</th>
        <th class="table-head">Price (high)</th>
        <th class="table-head">Change</th>
        <th class="table-head">Volume</th>
        <th class="table-head">Base currency</th>
        <th class="table-head">Quote currency</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of forex" class="tr-rows" (click)="navigateToForex(row.listingId)">
        <td>{{ row.ticker }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.exchangeName  }}</td>
        <td>{{ row.lastRefresh | date:'medium' }}</td>
        <td>{{ row.price }}</td>
        <td>{{ row.low }}</td>
        <td>{{ row.high }}</td>
        <td>{{ row.priceChange }}</td>
        <td>{{ row.volume }}</td>
        <td>{{ row.baseCurrency }}</td>
        <td>{{ row.quoteCurrency }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
