.content {
    display: flex;
    flex-direction: column;
    margin: auto;
 
    font-family: "Jura", sans-serif;
    background-color: #26262C;

  }
  
  .transaction-title {
    color: #ffb72b;
    font-size: 1.6rem;
    font-family: 'Jura';
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;

  }

  .body-content {
    align-items: center;
    padding-bottom: 30px;
    width: 30vw;
    color: antiquewhite;
  }
  
  .text-center {
    text-align: center;
  }



  .form-group {
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column; /* Postavljanje labela iznad input polja */
    color: antiquewhite;
  }
  
  .form-group label {
    color: #103145;
    margin-bottom: 5px; /* Dodavanje razmaka između labela i input polja */
  }
  
  

  .form-group input[type="text"] {
    width: 55%;
      height:auto;
      box-sizing: border-box;
      border-radius: 5px; 
      background-color:#26262C; 
      color: #3f3e3e; 
      padding: 8px;
  }

  
  .form-group.buttonSl{
    padding-top: 2%;
    flex-direction: row; 
  }

  .form-group.buttonSl button {
    margin: 0 0; 
    height: 5vh; 


  }
  
  .form-group.buttonSl button:first-child {
    background-color:#ffb72b; 
    width: 20%;
    color: white; 
    border-color: #ffb72b;
    border-radius: 5px; 
  }
  
  .form-group.buttonSl button:last-child {
    background-color: #ffb72b; 
    color: white; 
    width: 20%;
    border-radius: 5px; 
    margin-left: 1rem;
  }
  

  
  
  
  