.container {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
  overflow-y: auto;
}

.details-header {
  display: flex;
  justify-content: space-between;
}

.details-title {
  font-size: 2.4rem;
  font-family: "Jura", sans-serif;
  color: var(--banka-orange);
}

.details-back {
  color: var(--banka-black);
}

.details-info {
  background-color: var(--banka-dark-gray);
  padding: 20px;
  border-radius: 10px;
  margin-top: 3rem;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
}

.details-row-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}

.details-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  margin-top: 3px;
}

.details-name {
  color: var(--banka-white);
  font-family: "Jura", sans-serif;
  font-size: 1.2rem;
}

.details-value {
  color: var(--banka-white);
  font-family: "Jura", sans-serif;
  font-size: 1.2rem;
}


.white-line {
  height: 1px;
  background-color: var(--banka-white);
  margin: auto;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  margin: auto;
  margin-top: 2rem;
  width: 50%;
}

.details-button {
  background-color: var(--banka-orange);
  border: none;
  color: var(--banka-black);
  width: 13rem;
  height: 2.5rem;
  
  border-radius: 5px;
  font-weight: 800;
  font-size: 1.2rem;
  font-family: 'Jura', sans-serif;
}

.wrapper-header {
  height: 3rem;
  display: flex;
  gap: 10px;
  padding-left: 3rem;
  border-bottom: 1px solid var(--banka-white);
}

.tab {
  font-family: 'Jura', sans-serif;
  color: var(--banka-gray);
  font-size: 1.2rem;
  cursor: pointer;
  width: fit-content;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border-bottom: 1px solid var(--bank-white);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-active {
  font-family: 'Jura', sans-serif;
  background-color: var(--banka-black);
  color: var(--banka-orange);
  border-bottom: 3px solid var(--banka-orange);

  font-size: 1.2rem;
  cursor: pointer;
  width: fit-content;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab:hover {
  border-bottom: 3px solid var(--banka-orange);
}
