.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background-color: #0C0C11;  
    height:auto

  }
  
  .transaction-title {
    margin-top:10px;
    color: #FFB72B;
    font-size: 2.2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }
  th{
    background-color: #131319;
    border-bottom: none;
    color: #B3ABA0;
  }

  td {
    border-bottom: 1px solid #B3ABA0;
    background-color: #26262C; 
   }

   table{
    font-size: 0.8rem;
   }

   .custom_span{
    font-size: 1.2rem;
    margin-top: 2rem;
   }

   
   @media screen and (max-width: 576px) {
    .transaction-title {
        font-size: 1rem;
    }

    table{
      font-size: 0.5rem;
     }

     .custom_span{
      font-size: 0.6rem;
     }
  
    
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .transaction-title {
        font-size: 1.2rem;
    }
    table{
      font-size: 0.6rem;
     }

     .custom_span{
      font-size: 0.7rem;
     }
  
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .transaction-title {
        font-size: 1.4rem;
    }

    table{
      font-size: 0.7rem;
     }

     .custom_span{
      font-size: 0.8rem;
     }
  
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .transaction-title {
        font-size: 1.4rem;
    }
    table{
      font-size: 0.7rem;
     }

     .custom_span{
      font-size: 0.8rem;
     }
  
}


  




 

  
  