<!-- 23.03.2024 Da li komentari iz linije 2 i 3 mogu da se brisu, ako da obrisati ih @FrontLead @TeamLead -->
<!--ToDo: Kako se navbar ne bi pojavljivao na login stranici, odkomentarisati ovu liniju i zakomentariati liniju ispod, odkomentarisati poslednja tri reda-->
<!--<div class="app-container" *ngIf="userIsLoggedIn()">-->

<!-- Main page html that contains <A bar with title and logout button>, navigation bar and shows other pages. -->
<div class="app-container">

  <!-- Ribbon bar with A1 title, user credientals img and logout button. -->
  <mat-toolbar *ngIf="userIsLoggedIn()">
    <button mat-icon-button class="menu-button" (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="assets/logo.png" width="200px" alt=""/>
    <span class="remaining-space"></span>
    <div class="user-info">
      <div class="circle">{{ userInitials }}</div>
      <span color="warn"  (click)="logout()" *ngIf="userIsLoggedIn()" class="logout-button">Logout</span>
      <span color="warn"   [routerLink]="'login'" *ngIf="!userIsLoggedIn()" class="logout-button">Login</span>
    </div>
  </mat-toolbar>

  <!-- Navigation side bar. -->
  <mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav mode="side" class="sidenav" *ngIf="userIsLoggedIn()">

      <!-- Navigation button to Welcome page. -->
      <div class="sidebar-btn" [routerLink]="'/welcome'" >
        <img src="assets/admin.png"/>
        <span>Welcome</span>
      </div>

      <!-- Navigation button to Admin panel page. -->
      <div class="sidebar-btn" [routerLink]="'/user/list'" *ngIf="checkIsAdmin()" >
        <img src="assets/admin.png" />
        <span>Admin panel</span>
      </div>

      <!-- Navigation button to Securities page. -->
      <div class="sidebar-btn" [routerLink]="'/security/all'">
        <img src="assets/security.png"/>
        <span>Securities</span>
      </div>


      <div class="sidebar-btn" [routerLink]="'/transaction'" *ngIf="checkIsCustomerAndBankAccounts()">
        <img src="assets/security.png"/>
        <span>Transaction</span>
      </div>

      <div class="sidebar-btn" [routerLink]="'/exchange-rate'" *ngIf="checkIsCustomer()">
        <img src="assets/security.png"/>
        <span>Exchange rate</span>

      <div class="sidebar-btn" [routerLink]="'/customer/all'">
        <img src="assets/admin.png"/>
        <span>Customer</span>
      </div>

      <!-- Navigation button to Bank accounts page. -->
      <div class="sidebar-btn" [routerLink]="'/bank-accounts'" *ngIf="loggedUserPosition === 'customer'">
        <img src="assets/admin.png"/>
        <span>Bank accounts</span>
      </div>

      <!-- Navigation button to Card page. -->
      <div class="sidebar-btn" [routerLink]="'/cards'" *ngIf="loggedUserPosition === 'customer'">
        <img src="assets/admin.png"/>
        <span>Cards</span>

      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

