<!-- 23.03.2024 Da li komentari iz linije 2 i 3 mogu da se brisu, ako da obrisati ih @FrontLead @TeamLead -->
<!--ToDo: Kako se navbar ne bi pojavljivao na login stranici, odkomentarisati ovu liniju i zakomentariati liniju ispod, odkomentarisati poslednja tri reda-->
<!--<div class="app-container" *ngIf="userIsLoggedIn()">-->

<!-- Main page html that contains <A bar with title and logout button>, navigation bar and shows other pages. -->
<div class="app-container">
  <div class="banka-sidebar" *ngIf="userIsLoggedIn()">
    <div>
      <div class="banka-sidebar-title">BANKA1</div>

      <div class="user-information-wrapper">
        <div class="user-logo-name">
          <div class="banka-user-logo"></div>
          <div class="banka-user-name">{{ userInitials }}</div>
        </div>

        <div class="underline"></div>
      </div>

      <div class="sidebar-menu-wrapper">
        <div class="sidebar-menu-title">Menu</div>
        <div class="sidebar-items-holder">
          <div [routerLink]="'/welcome'" class="sidebar-item">
            <div>Bank accounts</div>
          </div>

          <div class="sidebar-item-wrapper">
            <div class="sidebar-item">
              <div>Payments</div>
              <img (click)="setActiveItem('openPayments')"
                   src="../assets/expand.png" class="sidebar-icon" [routerLink]="'/welcome'">
            </div>

            <div @dropdown *ngIf="activeItem === 'openPayments'" class="item-subroutes">
              <div [routerLink]="'/welcome'" class="sidebar-subitem">
                <div>New Payments</div>
              </div>

              <div [routerLink]="'/welcome'" class="sidebar-subitem">
                <div>Exchange</div>
              </div>

              <div [routerLink]="'/welcome'" class="sidebar-subitem">
                <div>Recipients</div>
              </div>

              <div [routerLink]="'/welcome'" class="sidebar-subitem">
                <div>Overview</div>
              </div>
            </div>
          </div>

          <div [routerLink]="'/welcome'" class="sidebar-item">
            <div>Cards</div>
          </div>

          <div [routerLink]="'/welcome'" class="sidebar-item">
            <div>Loans</div>
          </div>
        </div>
      </div>
    </div>
    <div class="logout-btn">
      Log out
    </div>
  </div>
  <div class=""></div>
  <div style="flex-basis: 80%">
    <router-outlet></router-outlet>
  </div>
</div>
