.content {
  flex: 1;
  transition: margin-left 0.3s ease;
  margin: 0;
}

.show-sidebar {
  margin-left: 250px;
  left: 0;
}

@media screen and (min-width: 600px) {
  .show-content {
    margin-left: 250px;
    left: 0;
  }

}

.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  height: 50px;
  border-bottom: 1px solid #406581;
  font-family: Inter, sans-serif;
  /*z-index: 2;*/
}

.hamburger {
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 4px 10px;
  border-radius: 5px;
}

.sidenav {
  position: fixed;
  top: 50px;
  left: -250px;
  height: 100%;
  width: 250px;
  /*color: #ecf0f1;*/
  transition: margin-left 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*margin-top: 51px;*/
}

.sidenav a {
  color: black;
  font-size: 20px;
  margin: 10px;
  padding-bottom: 10px;
  transition: background-color 0.3s ease;
}

.btn-box {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: white;
}

.btn-box:hover {
  background-color: #DBE2E7;
}

.circle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #19B5C7;
  margin-right: 10px;
}

.remaining-space {
  flex: 1 1 auto;
}

.logout-btn{
  font-size: 16px;
  color: #C71919;
  text-decoration: none;
  margin: 10px;
}

.logo {
  margin-top: 7px;
}

@media screen and (max-width: 600px) {
  .content {
    flex: 1;
    transition: margin-left 0.3s ease;
  }

  .backdrop {
    position: fixed;
    /*top: 50px;*/
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    transition: background-color, left 0.3s ease;
  }

  .backdrop.show-backdrop {
    display: block;
    left: 250px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}






