<div class="container">
    <!-- Page title -->
    <div class="row pageTitle">
        Legal persons
    </div>

    <!-- filter for legal persons -->
    <div class="row filterRow">
        <div class="col- offset-2 col-md-2 offset-md-2 col-sm-2 offset-sm-2 ">
            <transparent-text-field [(text)]="searchFilterKeyWord" [fieldName]="'Filter'"></transparent-text-field>
        </div>

        <div class="col-2 col-md-2 col-sm-2">
            <div class="form-group">
                <label class="label" >Filter by attribute:</label>
                <dropdown-input
                    [inputName]="'Choose atribute to filter by'"
                    [valueNames]="filterByValues"
                    [values]="filterByValues"
                    (selectedValue)="onSelectionChange($event)">
                </dropdown-input>
            </div>
        </div>

        <div class="col-2 col-md-2 col-sm-2 filterBtnDiv">
            <button class="filterBtn" (click) = "filter()">Filter</button>
        </div>
    </div>

    <!-- Table with transactions and exchanges -->
    <div class="row">
        <div class="col-8 offset-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2">
            
            <!-- Table title, table headers, tabs and table div -->
            <div class="recepientContentContainer">
                <!-- Tabs, this page only have one tab for now -->
                <div class="tabs">
                    <!-- Tab Headers -->
                    <div class="row tab-headers">
                        <div class="col-md-2 tab-header active d-flex justify-content-center align-items-center" [ngClass]="{'active': activeTab === 'overviewTab'}" (click)="setActiveTab('recipientsTab')">Overview</div>
                    </div>
                
                    <!-- Tab Content -->
                    <!-- Overview tab  with legal persons table -->
                    <div class="tab-content" *ngIf="activeTab === 'overviewTab'">                        
                        <div class="scrollable-container">
                            <!-- Legal persons Table (class="transactions-table, this is because this css is copied from similar file, a good idea would be to add a component instead) -->
                            <table class="transactions-table">
                                <thead>
                                    <tr>
                                        <th>Company name</th>
                                        <th>idNumber</th>
                                        <th>PIB</th>
                                        <th>Address</th>
                                        <!-- blank charachters -->
                                        <th>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let legalPerson of allLegalPersons; let idx = index">
                                        <td>{{ legalPerson.companyName }}</td>
                                        <td>{{ legalPerson.idNumber }}</td>
                                        <td>{{ legalPerson.pib }}</td>
                                        <td>{{ legalPerson.adress }}</td>
                                        <td class="buttonsTD">
                                            <button class="tdBtn" (click) = "joinCustomer(legalPerson, idx)">Join</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Row with add legal person button -->
    <div class="row addLegalPersonRow">
        <div class="col-md-2 offset-md-8">
            <button class="addLegalPersonBtn" (click) = "addNewLegalPerson()">ADD</button>
        </div>
    </div>
</div>