.container{
    background-color: #26262c;
    font-family: 'Jura';
}

.title{
    color: #eee9e0;
    font-size: x-large;
}

.instructions{
    color: #eee9e0;
    font-size: large;
}

.newNameDiv{
    color: #eee9e0;
    padding-left: 4vh;
    padding-right: 4vh;
    font-size: large;
}

.fname{
    background-color: #26262c;
    border: none;
    border-bottom: 2px solid #eee9e0;
    box-sizing: border-box;
    color: #eee9e0;
}

.fname:focus{
    outline: none; /* Removes the default focus highlight */
}

.myMargin{
    margin-top: 5vh;
}

.btnDiv{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.btn{
    background-color: #ffb72b;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

@media (min-width: 576px) {
    .title{
        font-size: medium;
    }

    .instructions{
        font-size: medium;
    }
}