<div class="content">
  <div class="security-title">Securities panel</div>

  <div class="table-wrapper">
    <div class="security-tabs">
      <div
        [ngClass]="selectedTab === 'stocks' ? 'tab tab-active' : 'tab'"
        (click)="setSelectedTab('stocks')"
      >
        <div class="tab-content">Stocks</div>
      </div>
       <div
        [ngClass]="selectedTab === 'future' ? 'tab tab-active' : 'tab'"
        class="tab"
        (click)="setSelectedTab('future')"
      >
        <div class="tab-content">Future</div>
      </div>
      <div
        [ngClass]="selectedTab === 'forex' ? 'tab tab-active' : 'tab'"
        class="tab"
        (click)="setSelectedTab('forex')"
      >
        <div class="tab-content">Forex</div>
      </div>
    </div>

    <div class="tab-stocks" *ngIf="selectedTab === 'stocks'">
      <app-stock-table></app-stock-table>
    </div>
    <ng-container *ngIf="selectedTab === 'forex';">
      <app-forex-table/>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'future'">
      <app-future-table/>
    </ng-container>
  </div>
</div>
