<div class="content">
  <div class="security-title">Security</div>

  <div class="table-wrapper">
    <div class="table-content">
      <div class="filter-row">
        <div class="left-row">
          <div class="filter-input">
            <input
              class="security-filter-input"
              placeholder="Search by symbol"
              [(ngModel)]="symbol"
            />
          </div>
          <div class="search-icon">
            <button (click)="search()" class="button-image">
              <img src="assets/search.png" alt="search" />
            </button>
          </div>
        </div>
      </div>

      <div class="security-table-wrapper">
        <div class="wrapper-header">
          <div
            (click)="setSelectedTab('stocks')"
            [ngClass]="selectedTab === 'stocks' ? 'tab tab-active' : 'tab'"
          >
            Stock
          </div>

          <div
            (click)="setSelectedTab('future')"
            [ngClass]="selectedTab === 'future' ? 'tab tab-active' : 'tab'"
          >
            Future
          </div>

          <div
            (click)="setSelectedTab('forex')"
            [ngClass]="selectedTab === 'forex' ? 'tab tab-active' : 'tab'"
          >
            Forex
          </div>
          <div
            (click)="setSelectedTab('options')"
            [ngClass]="selectedTab === 'options' ? 'tab tab-active' : 'tab'"
          >
            Options
          </div>
        </div>
        <app-dynamic-table
          *ngIf="selectedTab === 'stocks'"
          [headersArray]="[
            'Ticker',
            'Name',
            'Last updated',
            'Price',
            'High',
            'Low',
            'Price change',
            'Volume',
            'Outstanding Shares',
            'Exchange Name',
            'Dividend Yield',
          ]"
          [dataArray]="securities | transformSecurity"
          [showActions]="true"
        >
          <ng-template #actionsColumn let-row>
            <button class="buy-security" (click)="navigateToStock(row.originalStock.listingId)">DETAILS</button>
          </ng-template>
        </app-dynamic-table>

        <app-dynamic-table
          *ngIf="selectedTab === 'future'"
          [headersArray]="[
            'Ticker',
            'Name',
            'Exchange',
            'Last updated',
            'Price',
            'High',
            'Low',
            'Price change',
            'Volume',
            'Settlement Date'
          ]"
          [dataArray]="futures | transformFuture"
          [showActions]="true"
        >
          <ng-template #actionsColumn let-row>
            <button class="buy-security" (click)="navigateToFuture(row.original.listingId)">DETAILS</button>
          </ng-template>
        </app-dynamic-table>

        <app-dynamic-table
          *ngIf="selectedTab === 'forex'"
          [headersArray]="[
            'Quote Currency',
            'Base Currency',
            'Price',
            'Exchange Name'
          ]"
          [dataArray]="forex | transformForex"
          [showActions]="true"
        >
          <ng-template #actionsColumn let-row>
            <button class="buy-security" (click)="navigateToForex(row.originalForex.listingId)">DETAILS</button>
          </ng-template>
        </app-dynamic-table>


        <app-dynamic-table
          *ngIf="selectedTab === 'options'"
          [headersArray]="[
            'Stock listing',
            'Option type',
            'Strike price',
            'Implied volatility',
            'Open interest',
            'Settlement date'
          ]"
          [dataArray]="options | transformOptions"
          [showActions]="true"
        >
          <ng-template #actionsColumn let-row>
            <button class="buy-security" (click)="buyOption(row.original)">BUY</button>
          </ng-template>
        </app-dynamic-table>
      </div>
    </div>
  </div>
</div>
