<div class="content">
  <div class="security-title">TITLE</div>

  <div class="table-wrapper">
    <div class="security-tabs">
      <div class="tab active-tab">
        <div class="tab-content">Actions</div>
      </div>
      <div class="tab">
        <div class="tab-content">Future</div>
      </div>
      <div class="tab">
        <div class="tab-content">Forex</div>
      </div>
    </div>

    <div class="table-content">
      <div class="filter-row">
        <div class="left-row">
          <div class="filter-dropdown"></div>
          <div class="filter-input">
            <input class="security-filter-input" placeholder="Search by email" />
          </div>
          <div class="filter-input" style="">
            <input class="security-filter-input" placeholder="By name" />
          </div>
          <div class="filter-input">
            <input class="security-filter-input" placeholder="By surname" />
          </div>
          <div class="search-icon">
            <span class="material-symbols-outlined"> search </span>
          </div>
        </div>

        <div class="right-row">
            <div class="add-new-btn">
                ADD NEW USER
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
