<div class="container">
  <div class="details-header">
    <div class="details-title">Future details</div>
    <div class="details-back">
      <orange-button [buttonName]="'Back'" (click)="goBack()"
        >Back</orange-button
      >
    </div>
  </div>

  <div class="details-info">
    <div class="details-row-group">
      <div class="details-row">
        <div class="details-name">TICKER</div>
        <div class="details-value">{{ future?.ticker }}</div>
      </div>
    </div>
    <div class="white-line"></div>

    <div class="details-row-group">
      <div class="details-row">
        <div class="details-name">EXCHANGE</div>
        <div class="details-value">{{ future?.exchangeName }}</div>
      </div>

      <div class="details-row">
        <div class="details-name">CONTRACT SIZE</div>
        <div class="details-value">{{ future?.contractSize }}</div>
      </div>
    </div>
    <div class="white-line"></div>

    <div class="details-row-group">
      <div class="details-row">
        <div class="details-name">CONTRACT UNIT</div>
        <div class="details-value">{{ future?.contractUnit }}</div>
      </div>

      <div class="details-row">
        <div class="details-name">HIGH</div>
        <div class="details-value">{{ future?.high }}</div>
      </div>
    </div>
    <div class="white-line"></div>

    <div class="details-row-group">
      <div class="details-row">
        <div class="details-name">CHANGE</div>
        <div class="details-value">{{ future?.priceChange }}</div>
      </div>

      <div class="details-row">
        <div class="details-name">VOLUME</div>
        <div class="details-value">{{ future?.volume }}</div>
      </div>
    </div>
  </div>

  <div class="button-row">
    <button class="details-button" (click)="openBuyPopup()">Buy</button>
<!--    <button class="details-button">Sell</button>-->
    <button class="details-button" (click)="refresh()">Refresh</button>
  </div>

  <div class="details-info" style="margin-bottom: 3rem;">
    <div class="wrapper-header">
      <div
        (click)="handleGraphFilter('d')"
        [ngClass]="graphFilter === 'd' ? 'tab tab-active' : 'tab'"
      >
        Day
      </div>

      <div
        (click)="handleGraphFilter('m')"
        [ngClass]="graphFilter === 'm' ? 'tab tab-active' : 'tab'"
      >
        Month
      </div>

      <div
        (click)="handleGraphFilter('y')"
        [ngClass]="graphFilter === 'y' ? 'tab tab-active' : 'tab'"
      >
        Year
      </div>

      <div
        (click)="handleGraphFilter('5y')"
        [ngClass]="graphFilter === '5y' ? 'tab tab-active' : 'tab'"
      >
        5 Years
      </div>

      <div
        (click)="handleGraphFilter('all')"
        [ngClass]="graphFilter === 'all' ? 'tab tab-active' : 'tab'"
      >
        All
      </div>
    </div>
    <div>
      <canvas
        baseChart
        [data]="chartData"
        [type]="lineChartType"
        [options]="lineChartOptions"
      ></canvas>
    </div>
  </div>
</div>
