<div class="welcome-container">
  <div class="logo-container">
    <img src="assets/banka1.png" alt="Bankai Logo" class="logo">
  </div>
  <div>
    <div>

      <orange-button [buttonName]="btnName">

      </orange-button>


      <transparent-text-field [(text)]="fieldText" [fieldName]="'field name'">

      </transparent-text-field>


      <white-text-field [text]="'text'" [fieldName]="'field name white'">

      </white-text-field>


      <line-text-field [text]="'text'" [fieldName]="'field name white'">

      </line-text-field>

    </div>
  </div>

</div>
