<div class="container">
  <div class="title">
    <span class="back-button" (click)="goBack()">&lt;</span>
    Customer: {{userName}}</div>
  <div class="table-box">
    <div class="header">
      <div *ngIf="selectedTab === 'bank_acc'" class="btn-container">
        <div class="button">
          <orange-button buttonName="Add New Bank Account" (click)="popupNewAccount()"></orange-button>
        </div>
      </div>
      <div class="tab-container">
        <div class="tabs">
          <div class="tab" (click)="selectTab('cards')" [class.selected_tab]="selectedTab === 'cards'">Cards</div>
          <div class="tab" (click)="selectTab('bank_acc')" [class.selected_tab]="selectedTab === 'bank_acc'">Bank accounts</div>
        </div>
      </div>
    </div>
    <div class="table-container">
      <div *ngIf="selectedTab === 'cards'" class="table-responsive">
          <app-dynamic-table [headersArray]="headersCards" [dataArray]="cards">
          </app-dynamic-table>
      </div>

      <div *ngIf="selectedTab === 'bank_acc'">
          <app-dynamic-table [headersArray]="heaersBankAcc" [dataArray]="bankAccounts">
          </app-dynamic-table>
      </div>
    </div>
  </div>
</div>
