:host {
  font-family: 'Jura', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 5rem;
 font-family: "Jura", sans-serif;
}

.title {
  grid-column: span 12;
  font-size: 2.2rem;
  color: #FFB72B;
  margin-left: 80px;
}

.table-box {
  grid-column: span 8;
  background-color: #26262C;
  padding-bottom: 80px;
  padding-top: 10px;
  border-radius: 30px;
  margin-top: 80px;
  margin-left: 60px;


}

.tab-container {
  border-bottom: 1px solid #FFF9F0;
}

.tabs{
  display: flex;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #26262C;
  color: #989591;
  border-radius: 5px 5px 0px 0px;
  margin-left: 10px;
}


.tab:hover {
  background-color: #131319;
  color: #FFB72B;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button{
  margin-left: auto;
  margin-right: 10px;
}

.table-container{
  grid-column: span 8
}

.header{
  grid-column: span 8
}

.selected_tab {
  background-color: #131319;
  color: #FFB72B;
}
