<div class="content">
  <div class="security-title">Customers/ {{ userName }}</div>

  <div class="table-wrapper">
    <div class="security-tabs">
      <div
        [ngClass]="selectedTab === 'bank-accounts' ? 'tab tab-active' : 'tab'"
        (click)="setSelectedTab('bank-accounts')"
      >
        <div class="tab-content">Bank Accounts</div>
      </div>
      <div
        [ngClass]="selectedTab === 'cards' ? 'tab tab-active' : 'tab'"
        class="tab"
        (click)="setSelectedTab('cards')"
      >
        <div class="tab-content">Cards</div>
      </div>
    </div>

    <ng-container *ngIf="selectedTab === 'bank-accounts'">
      <div class="table-content">
        <div class="filter-row">
          <div class="left-row"></div>
          <div class="right-row">
            <button class="add-new-btn" (click)="popupNewAccount() ">ADD NEW BANK ACCOUNT</button>
          </div>
        </div>
        <div class="security-table-wrapper">
          <div class="wrapper-header">Bank Accounts</div>
          <table class="user-table" cellpadding="2px" cellspacing="0">
            <thead class="table-head-custom">
            <tr class="tr-rows">
              <th class="table-head">NUMBER</th>
              <th class="table-head">TYPE</th>
              <th class="table-head">STATUS</th>
              <th class="table-head">CURRENCY</th>
              <th class="table-head">BALANCE</th>
              <th class="table-head">AVAILABLE BALANCE</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankAcc of bankAccounts" class="tr-rows">
              <td>{{ bankAcc.accountNumber }}</td>
              <td>{{ bankAcc.accountType }}</td>
              <td>{{ bankAcc.accountStatus }}</td>
              <td>{{ bankAcc.currency }}</td>
              <td>{{ bankAcc.balance }}</td>
              <td>{{ bankAcc.availableBalance }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'cards'">
      <div class="table-content">
        <div class="security-table-wrapper">
          <div class="wrapper-header">Cards</div>
          <table class="user-table" cellpadding="2px" cellspacing="0">
            <thead class="table-head-custom">
            <tr class="tr-rows">
              <th class="table-head">CARD NUMBER</th>
              <th class="table-head">TYPE</th>
              <th class="table-head">NAME</th>
              <th class="table-head">CREATION DATE</th>
              <th class="table-head">EXPIRATION DATE</th>
              <th class="table-head">ACCOUNT NUMBER</th>
              <th class="table-head">CVV</th>
              <th class="table-head">LIMIT</th>
              <th class="table-head">STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let card of cards" class="tr-rows">
              <td>{{ card.cardNumber }}</td>
              <td>{{ card.cardType }}</td>
              <td>{{ card.cardName }}</td>
              <td>{{ card.creationDate }}</td>
              <td>{{ card.expirationDate }}</td>
              <td>{{ card.accountNumber }}</td>
              <td>{{ card.cvv }}</td>
              <td>{{ card.limit }}</td>
              <td [ngStyle]="{'color': card.isActivated ? 'green' : 'red'}">
                {{ card.isActivated ? 'Active' : 'Inactive' }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>
