<div class="container">
  <div class="page">
    <div class="security-title">Profits</div>
    <div class="header-row">
      <div class="number-box-container">
        <div class="number-box">
          <div class="number-box-title">Total profit - Bank</div>
          <div class="number-box-value">{{ bankProfit }}</div>
        </div>
      </div>
    </div>
    <div class="central-window">
      <div class="tabs-menu">
        <div (click)="setTab('profits')" class="{{ selectedTab === 'profits' ? 'tab active-tab' : 'tab' }}">
          Profit - Agents
        </div>
        <div class="right-row">
          <div class="search-icon">
            <button (click)="refresh()" class="button-image">
              <img src="assets/refresh.png" alt="search" />
            </button>
          </div>
        </div>
      </div>

      <div class="overview-tab" *ngIf="selectedTab === 'profits'">
        <app-dynamic-table
          [headersArray]="headers"
          [dataArray]="profits"
        >
        </app-dynamic-table>
      </div>

    </div>
  </div>
</div>
