
.container{
    background-color: #26262C; 
    border: 1px solid #26262C;
    color: #FFF9F0; 
    
}
.mat-dialog-container {
    font-family: 'Jura', sans-serif;
    color: #FFF9F0; 
    font-size: 0.5rem;

}

.mat-dialog-content {
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-dialog-actions button {
    font-size: 0.8rem;
    border-radius: 5px;

}

.mat-dialog-title {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-dialog-title,
.mat-dialog-content {
    margin-bottom: 20px;
    margin-top: 10px;
}

@media (max-width: 776px) {
    .mat-dialog-title,
    .mat-dialog-content {
        font-size: 0.6rem;
    }

    .mat-dialog-actions button {
        font-size: 0.5rem;
    }
}

@media (max-width: 576px) {
    .mat-dialog-title,
    .mat-dialog-content {
        font-size: 0.5rem;
    }

    .mat-dialog-actions button {
        font-size: 0.4rem;
    }
}
