<h1>Loans</h1>
<div class="outer-container">
  <div class="inner-flex">
    <div class="security-table-wrapper">
      <div class="wrapper-header">Loans<button class="button" style="margin-left: auto;" routerLink="/new-loan">New Loan</button></div>
      <table class="user-table" cellpadding="2px" cellspacing="0">
        <thead class="table-head-custom">
        <tr class="tr-rows">
          <th class="table-head">Loan Type</th>
          <th class="table-head">Account Number</th>
          <th class="table-head">Remaining Debt</th>
          <th class="table-head">Effective Interest Rate</th>
          <th class="table-head">Installment Amount</th>
          <th class="table-head">Next Installment Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of loans" class="tr-rows">
          <td>{{ row.loanType }}</td>
          <td>{{ row.accountNumber }}</td>
          <td>{{ row.remainingDebt  }}</td>
          <td>{{ row.effectiveInterestRate | percent:"1.2" }}</td>
          <td>{{ row.installmentAmount }}</td>
          <td>{{ row.nextInstallmentDate | date }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
