<!-- Page container -->
<div class="container">
  <div class="page">
    <div class="security-title">
      <span class="back-button" (click)="goBack()">&lt;</span>
      Transactions for account: {{accountNumber}}
    </div>
    <div class="central-window">
      <div class="tabs-menu">
        <div (click)="setTab('transaction')" class="{{ selectedTab === 'transaction' ? 'tab active-tab' : 'tab' }}">
          Transactions
        </div>

        <hr />
      </div>

      <div class="overview-tab" *ngIf="selectedTab === 'transaction'">
        <app-dynamic-table
          [headersArray]="headers"
          [dataArray]="transactions | transformBankAccountDetails"
        >
        </app-dynamic-table>
      </div>

    </div>
  </div>
  </div>
