<!-- Page container -->
<div class="container">

    <div  style="padding-left: 1rem; " class="row pageTitle">
            Bank Accounts
    </div>
  
    <!-- Table with transactions and exchanges -->
    <div class="row">
      <div class="col-8 offset-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2">
        <!-- Table title, table headers, tabs and table div -->
        <div class="transactionsContentContainer">
          <!-- Title transactions overview -->
          <div style="color: #ffb72b;" class="row transOverviewDiv d-flex align-items-center">
            Overview
          </div>
          <!-- Tabs -->
          <div class="tabs">
            <div class="tab-headers"></div>

            <div class="tab-content">
              <div class="scrollable-container">
                <table class="transactions-table">
                  <thead>
                    <tr>
                      <th>Bank Account</th>
                      <th>Currency</th>
                      <th>Account Balance</th>
                      <th>Reserved</th>
                      <th>Available</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let userAcc of userBankAccounts" (click)="navigateToDetails(userAcc.accountNumber)">
                        <td>{{ userAcc.accountNumber }}</td>
                        <td>{{ userAcc.currency }}</td>
                        <td>{{ userAcc.balance }}</td>
                        <td>{{ userAcc.reservedResources }}</td>
                        <td>{{ userAcc.availableBalance }}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  