<div class="container">
  <div class="page">
    <div class="security-title">Bank Accounts</div>
    <div class="central-window">
      <div class="tabs-menu">
        <div (click)="setTab('bank_accounts')" class="{{ selectedTab === 'bank_accounts' ? 'tab active-tab' : 'tab' }}">
          Overview
        </div>
        <hr />
      </div>

      <div class="overview-tab" *ngIf="selectedTab === 'bank_accounts'">
        <app-dynamic-table-bank-account
          [headersArray]="headers"
          [dataArray]="bankAccounts | transformBankAccounts"
          [showBankAccount]="true"
        >
          <ng-template #bankAccountColumn let-row>
            <div (click)="navigateToDetails(row.accountNumber)">
              {{row.accountNumber }}
            </div>
          </ng-template>

        </app-dynamic-table-bank-account>

      </div>

    </div>
  </div>
</div>
