<div style="display: flex; justify-content: space-between;">
  <div class="outerDiv"></div>
  <div>
    <div>
      <div style="display: flex; align-items: center; " id="logo">
        <img src="assets/logo.png" width="64px" height="64px">
        <img src="assets/banka1.png" width="130px" height="43px" style="position: relative; left: -20px;">
      </div>
      <div id="container">
        <h1>Set password</h1>
        <hr>
        <h5 style="font-family: Istok web; margin-left : 24px">You’ve requested to set password for your BANKA1 account</h5>
        <div style="display: flex; justify-content: space-around">
          <div class="innerDiv"></div>
          <div style="display: flex; flex-direction: column; gap: 15px; min-width: 300px; max-width: 480px">
            <div style="position: relative">
              <input placeholder="Enter password" style="" [type]="passVisible? 'text': 'password'">
              <img [src]="passVisible? 'assets/visibility-off.svg': 'assets/visibility.svg'" (click)="passVisible = !passVisible" style="position: absolute; right: 8px; top: 20px;">
            </div>
            <div style="position: relative">
              <input placeholder="Enter password" style="width: 100%; height: 60px; box-sizing: border-box" [type]="confirmPassVisible? 'text': 'password'">
              <img [src]="confirmPassVisible? 'assets/visibility-off.svg': 'assets/visibility.svg'" (click)="confirmPassVisible = !confirmPassVisible" style="position: absolute; right: 8px; top: 20px;">
            </div>
            <button style="height: 60px">Create Password</button>
          </div>
          <div class="innerDiv"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="outerDiv"></div>
</div>
