<div class="container">
  <div class="page">
    <div class="security-title">OTCs</div>
    <div class="central-window">
      <div class="tabs-menu">
        <div (click)="setTab('overview')" class="{{ selectedTab === 'overview' ? 'tab active-tab' : 'tab' }}">
          Overview
        </div>
        <hr />
      </div>

      <div class="overview-tab" *ngIf="selectedTab === 'overview'">
        <app-dynamic-table-status
          [headersArray]="headersOTCs"
          [dataArray]="contracts | transformContracts"
          [showStatus]="true"
        >
          <ng-template #statusColumn let-row>
            <div class="dropdown">
              <div
                id="dropdownMenu"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ row.original | transformStatus }}
              </div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li>
                  <a
                    class="dropdown-item"
                    (click)="updateOTCStatus(row.original, 'Approved')"
                    >Approve</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    (click)="updateOTCStatus(row.original, 'Denied')"
                    >Deny</a
                  >
                </li>
              </ul>
            </div>
          </ng-template>
        </app-dynamic-table-status>
      </div>
      </div>
      </div>
    </div>
