/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
:root {
    --banka-black: #1E1E1E;
    --banka-dark-gray: #26262C;
    --banka-white: #FFF9F0;
    --banka-gray: #B3ABA0;
    --banka-orange: #FFB72B;
    --banka-dark-orange: #FF942B;
}

body {
    background-color: var(--banka-black);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
