<div class="content">
    <div class="pageTitle">New Exchange</div>
    <div class="body-content p-5">
        <div class="m-auto">
            <h1 class="text-center" style="color: white; font-size: 2rem;">New Exchange</h1>
        </div>
        <hr>
        <div class="form-group mt-5">
            <label for="outflow">Outflow account number:</label>
            <select [(ngModel)]="transaction.senderAccountNumber" id="outflow" name="outflow" required (change)="onOutflowChange()" #outflowModel="ngModel" [ngClass]="{ 'invalid-input': outflowModel.invalid && (outflowModel.dirty || outflowModel.touched) }">
                <option value="" disabled selected>Select Outflow Account</option>
                <option *ngFor="let account of outflowAccounts" [value]="account.accountNumber">{{ account.accountNumber }}</option>
            </select>
            <div *ngIf="outflowModel.invalid && (outflowModel.dirty || outflowModel.touched)" class="error-message">
                <div *ngIf="outflowModel.hasError('required')" style="color: red;">Outflow account number is required.</div>
            </div>
        </div>
        
        <div class="form-group mt-4">
            <label for="inflow">Inflow account number:</label>
            <select [(ngModel)]="transaction.recipientAccountNumber" id="inflow" name="inflow" required #inflowModel="ngModel" [ngClass]="{ 'invalid-input': inflowModel.invalid && (inflowModel.dirty || inflowModel.touched) }">
                <option value="" disabled selected>Select Inflow Account</option>
                <option *ngFor="let account of inflowAccounts" [value]="account.accountNumber">{{ account.accountNumber }}</option>
            </select>
            <div *ngIf="inflowModel.invalid && (inflowModel.dirty || inflowModel.touched)" class="error-message">
                <div *ngIf="inflowModel.hasError('required')" style="color: red;">Inflow account number is required.</div>
            </div>
        </div>
        
        <div class="form-group mt-5">
            <label for="amount">Amount:</label>
            <input type="text" [(ngModel)]="transaction.amount" id="amount" name="amount" required pattern="^(0(\.\d+)?|[1-9]\d*(\.\d+)?)$" #amountModel="ngModel" [ngClass]="{ 'invalid-input': amountModel.invalid && (amountModel.dirty || amountModel.touched) }" />
            <div *ngIf="amountModel.invalid && (amountModel.dirty || amountModel.touched)" class="error-message">
                <div *ngIf="amountModel.hasError('required')" style="color: red;">Amount is required.</div>
                <div *ngIf="amountModel.hasError('pattern')" style="color: red;">Invalid amount format (must be a number).</div>
            </div>
        </div>
        
        <div class="d-flex  mt-5">
            <button class="btn btn-warning" (click)="onContinue()" style="width: 45%; font-size: 1.4rem;">Continue</button>
        </div>

    </div>
</div>
