.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: "Roboto", sans-serif;
    /* background-color: #EBF6F9;  */

  }
  
  .transaction-title {
    color: #FFB72B;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  .body-content {
    background-color: #26262C;
    border: #26262C solid 2px;
    border-radius: 42px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 35vw;
  }
  
  .text-center {
    text-align: center;
  }



  .form-group {
    /* margin-left: 20%; */
    margin-bottom: 10px;
    font-size: 15px;
    display: flex;
    color: white;
    font-size: 16px;
    flex-direction: column; /* Postavljanje labela iznad input polja */
  }
  
  .form-group label {
    margin-bottom: 5px; /* Dodavanje razmaka između labela i input polja */
  }

  .form-group select {
    /* width: 55%; Širina select elementa */
    height: auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    color: #3f3e3e;
    padding: 8px;
    appearance: none; /* Uklanja uobičajene strelice koje se prikazuju uz select elemente na nekim preglednicima */
    border: 1px solid white; /* Dodajte željenu boju granice */
}


.form-group select:focus {
    outline: none; /* Uklanja plavi obrisak koji se pojavljuje prilikom fokusiranja na select element */
    border-color: white; /* Dodajte boju granice kada je select element u fokusu */
}
  
  

  .form-group input[type="text"] {
    /* width: 55%; */
      height:auto;
      box-sizing: border-box;
      border-radius: 5px; 
      background-color: white; 
      color: #3f3e3e; 
      padding: 8px;
  }

  
  .form-group.buttonSl{
    padding-top: 2%;
    flex-direction: row; 
  }

  .form-group.buttonSl button {
    margin: 0 1.5vw; 
    height: 5vh; 


  }
  
  .form-group.buttonSl button:first-child {
    background-color: #f0f8ff; 
    width: 20%;
    color: #19B5C7; 
    border-color: #19B5C7;
    border-radius: 5px; 
  }
  
  .form-group.buttonSl button:last-child {
    background-color: #103145; 
    color: #fff; 
    width: 20%;
    border-radius: 5px; 
  }
  
hr{
  color: white;
}
  