
<div class="content">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1">
            <button style="text-align: left; background-color:#26262C; color: #fff9f0c3; border:none" (click)="onClose()">X</button>
        </div>
    </div>
    <div class="transaction-title">Transaction details</div>
    <div style="color: #FFF9F0;" class="body-content">
        <div class="row">
            <div class="col-md-1  col-1"></div> 
            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="inflowOwner">Inflow account owner:</label>
                    <div>
                    <label >{{ transactionDetails?.recipientName}}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">
                </div>
            </div>

            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="inflowNumber">Inflow account number: </label>
                    <div>
                    <label >{{ transactionDetails?.recipientAccountNumber }}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">
                </div>
            </div>
            <div class="col-md-1 col-1"></div>
        </div>



        <div class="row">
            <div class="col-md-1  col-1"></div> 
            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="outflowOwner">Outflow account owner: </label>
                    <div>
                    <label >{{ transactionDetails?.senderName }}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">
                </div>
            </div>

            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="outflowNumber">Outflow account number: </label>
                    <div>
                        <label >{{ transactionDetails?.senderAccountNumber }}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">

                </div>
            </div>
            <div class="col-md-1 col-1"></div>
        </div>


        <div class="row">
            <div class="col-md-1  col-1"></div> 
            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="date">Date: </label>
                    <div>
                        <label >{{ transactionDetails?.transactionDate| date:'dd/MM/yyyy' }}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">

                </div>
            </div>

            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="paymentCode">Payment code: </label>
                    <div>
                        <label >{{ transactionDetails?.paymentCode }}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">
                </div>
            </div>
            <div class="col-md-1 col-1"></div>
        </div>


        <div class="row">
            <div class="col-md-1  col-1"></div> 
            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="model">Model: </label>
                    <div>
                        <label >{{ transactionDetails?.purposeOfPayment }}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">
                </div>
            </div>

            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="referenceNumber">Reference number: </label>
                    <div>
                        <label >{{ transactionDetails?.referenceNumber }}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">
                </div>
            </div>
            <div class="col-md-1 col-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1  col-1"></div> 
            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="status">Status: </label>
                    <div>
                        <label >{{ transactionDetails?.status }}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">

                </div>
            </div>

            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="status">Channel: </label>
                    <div>
                        <label >{{ transactionDetails?.channel }}</label>
                    </div>
                    <hr style="border-top: 1px solid gray; margin: 0;">

                </div>
            </div>
            <div class="col-md-1 col-1"></div>
        </div>


        <div class="row">
            <div class="col-md-1  col-1"></div> 
            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="status">Commission fee: </label>
                    <div>
                        <label >{{ transactionDetails?.commission }}</label>
                    </div>
                    <hr style="border-top: 1px solid #FFF9F0; margin: 0;">

                </div>
            </div>
            <div class="col-md-5 col-5"> 
                <div class="form-group">
                    <label for="status">Amount: </label>
                    <div>
                        <label>{{ transactionDetails?.amount }} {{ transactionDetails?.currency }}</label>
                    </div>
                    <hr style="border-top: 1px solid gray; margin: 0;">

                </div>
            </div>
            <div class="col-md-1 col-1"></div>

        </div>

        <div class="row">
            <div class="col-md-4 col-1"></div>
            <div class="col-md-4 col-8">
                <button class="btn_custom" style="background-color:#FFB72B; color: black; margin-bottom: 10px;" (click)="onPrint()">Print transaction confirmation</button>
            </div>
            <div class="col-md-4"></div>
    </div>
</div>

