.transaction-title {
    color: #FFB72B;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

.form-group{
    margin-bottom: 20px;
}

.body-content{
  font-size: 0.6rem;
}
.content{
  width: 540px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #26262C;
  overflow-x: hidden;
  border-bottom:2px solid lightgray;
  border-right:2px solid gray; 
  margin: 0;
}
.btn_custom{
  height: 50px;
  border-radius: 15px;
  margin-top: 30px;
}

.custom_span{
  font-size: 0.5rem
 }




@media screen and (max-width: 576px) {
  .body-content{
    font-size: 0.4rem;
  }

  .transaction-title {
    font-size: 0.5rem;
  }

  .form-group{
    margin-bottom: 10px;
}
  .content{
    width: 220px;
    border-radius: 10px;

  }

   .custom_span{
    font-size: 0.3rem
   }

   .btn_custom{
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
  }

  
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .body-content{
    font-size: 0.4rem;
  }

  .transaction-title {
    font-size: 0.8rem;
  }

  .form-group{
    margin-bottom: 12px;
}

  .content{
    width: 300px;
    border-radius: 15px;

  }

   .custom_span{
    font-size: 0.4rem
   }

   .btn_custom{
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
  }

}
