<div class="content">
  <div class="security-title">Customers</div>

  <div class="table-wrapper">
    <div class="table-content">
      <div class="filter-row">
        <div class="left-row">
          <div class="filter-input">
            <input
              class="security-filter-input"
              placeholder="Search by email"
              [(ngModel)]="email"
            />
          </div>
          <div class="filter-input">
            <input
              class="security-filter-input"
              placeholder="By name"
              [(ngModel)]="firstName"
            />
          </div>
          <div class="filter-input">
            <input
              class="security-filter-input"
              placeholder="By surname"
              [(ngModel)]="lastName"
            />
          </div>
          <div class="search-icon">
            <button (click)="search()" class="button-image">
              <img src="assets/search.png" alt="search" />
            </button>
          </div>
        </div>

        <div class="right-row">
          <button class="add-new-btn" (click)="togglePopupAddCustomer()">
            Add New Customer
          </button>
        </div>
      </div>

      <div class="security-table-wrapper">
        <div class="wrapper-header">
          <div class="tab-active">Customers</div>
        </div>
        <app-dynamic-table
          [headersArray]="[
            'Name',
            'Email',
            'JMBG',
            'Address',
            'Phone number',
            'Gender'
          ]"
          [dataArray]="customers | transformCustomer"
          [showActions]="true"
        >
          <ng-template #actionsColumn let-row>
            <div class="options-menu">
              <button class="options-button" id="options-button">&#8286;</button>
              <div class="options-dropdown">
                <button id="view-button" (click)="viewCustomer(row.email)">
                  View Profile
                </button>
                <button
                  id="editProfile-button"
                  (click)="editCustomer(row.email)"
                >
                  Edit Profile
                </button>
                <!-- <button  id="delete-button" (click)="deleteCustomer(customer.id)">Delete</button> -->
              </div>
            </div>
          </ng-template>
        </app-dynamic-table>
      </div>
    </div>
  </div>
</div>
